/**
* Bootstrap layout
*/
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
	float: right;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	float: right;
}

.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
	float: right;
}

@media screen and (min-width: 940px) {
	.site-content .sidebar {
		float: right;
	}
}

@media screen and (min-width: 940px) {
	.left-sidebar .content-area {
		float: left;
		padding-left: 0px;
		padding-right: 39px;
		border-left: 0px none;
		border-right: 1px solid #e9e9e9;
		margin-right: 0px;
		margin-left: 1px;
	}
	.left-sidebar .sidebar {
		padding-left: 39px;
		padding-right: 0px;
		border-left: 1px solid #e9e9e9;
		border-right: 0px none;
		margin-right: 0px;
		margin-left: -1px;
	}
	.right-sidebar .content-area {
		padding-right: 0px;
		padding-left: 39px;
		border-right: 0px none;
		border-left: 1px solid #e9e9e9;
		float: right;
	}
	.right-sidebar .sidebar {
		padding-left: 0px;
		padding-right: 39px;
		border-left: 0px none;
		border-right: 1px solid #e9e9e9;
		margin-left: 0px;
		margin-right: -1px;
	}
}

/**
* Font icon
*/
.fa-chevron-right::before {
	content: "\f053";
}

.fa-chevron-left::before {
	content: "\f054";
}

/**
* Header NAv
*/
.header-right-wrapper::after {
	content: "";
	display: block;
	clear: both;
}

.site-branding {
	float: right;
}

.nav-menu {
	float: left;
}

.nav-menu > li {
	float: right;
}

.nav-menu ul {
	left: auto;
	right: 0px;
}

.nav-menu ul ul {
	right: 100%;
	left: auto;
}

#nav-toggle {
	float: left;
}

.nav-menu.nav-menu-mobile .nav-toggle-subarrow {
	right: auto;
	left: 0px;
	border-left: 0px;
	border-right: 1px solid #e9e9e9;
}

/**
* Section About
*/
.section-about .section-title-area {
	text-align: right;
}

/**
* Section counter
*/
.counter-item i {
	right: auto;
	left: 30px;
}

/**
* Section News
*/
.content-grid-loadmore i {
	margin-left: 0px;
	margin-right: 8px;
}

/**
* Post listing
*/
.entry-more a i {
	margin-left: 0px;
	margin-right: 5px;
}

/* Section Service */
.services-content .service__media-icon .service-card-content {
	padding-right: 0px;
	padding-left: 80px;
}

.services-content .service-card-icon {
	right: auto;
	left: 30px;
}

/**
* Comments
*/
#comments .comment .avatar {
	float: right;
}

#comments .comment .comment-wrapper {
	margin-left: 0px;
	margin-right: 90px;
}

#comments .comment .comment-wrapper::before {
	border-width: 10px 10px 0 0;
	border-color: #f6f7f9 transparent transparent transparent;
	left: 0px;
	height: 0;
	right: -9px;
}

#comments .comment .children {
	padding-left: 0px;
	padding-right: 30px;
}

#comments .comment .children .children {
	padding-left: 0px;
	padding-right: 30px;
}

#comments .comment .children .children .children {
	padding-left: 0px;
	padding-right: 0px;
}

@media screen and (min-width: 940px) {
	#comments .comment .children {
		padding-left: 0;
		padding-right: 90px;
	}
	#comments .comment .children .children {
		padding-left: 0;
		padding-right: 90px;
	}
	#comments .comment .children .children .children {
		padding-left: 0;
		padding-right: 90px;
	}
}

/**
* Footer
*/
.site-footer .site-info .site-copyright {
	float: right;
}

.site-footer .site-info .theme-info {
	float: left;
}
