/* WooCommerce support */
.woocommerce-cart #content-inside, .woocommerce-checkout #content-inside {
	max-width: 800px;
}

.woocommerce-page .site-main .page-title {
	display: none;
}

.woocommerce-result-count {
	font-style: italic;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
	margin-bottom: 1.5em;
}

.woocommerce-ordering select {
	padding: 7px;
	margin-top: -10px;
}

.woocommerce ul.products li.product h3 {
	font-size: 18px;
	font-size: 1.125rem;
	margin-bottom: 7px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce button.button.alt {
	background-color: #e86240;
	padding: 10px 20px;
	padding:  0.625rem 1.25rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-size: 13px;
	font-size: 0.8125rem;
	border-radius: 2px;
}

.woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce button.button.alt:hover {
	background: #222222;
	color: #FFF;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.woocommerce table.shop_table {
	border-collapse: collapse;
}

.woocommerce .quantity .qty {
	padding: 5px;
}

.woocommerce span.onsale {
	padding: inherit;
}

.related.products h2, #tab-description h2 {
	font-size: 17px;
	font-size: 1.0625rem;
	margin-bottom: 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
	padding: 9px 14px;
	font-weight: bold;
}

.woocommerce ul.products li.product .price del {
	display: inline-block;
}

.woocommerce ul.products li.product .price {
	color: #777777;
	font-weight: bold;
}

.woocommerce ul.products li.product .price ins {
	text-decoration: none;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: #e86240;
}

.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background-color: #000;
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
	float: none;
}

.woocommerce .cart-collaterals .cart_totals h2, .woocommerce-page .cart-collaterals .cart_totals h2 {
	font-size: 17px;
	font-size: 1.0625rem;
}

.woocommerce .cart-collaterals .cart_totals .shop_table th, .woocommerce .cart-collaterals .cart_totals .shop_table td, .woocommerce-page .cart-collaterals .cart_totals .shop_table th, .woocommerce-page .cart-collaterals .cart_totals .shop_table td {
	text-align: left;
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
	width: 100%;
	float: none;
}

.woocommerce-additional-fields h3 {
	margin-top: 15px;
}

.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	font-size: 1.25em;
	padding: 1em;
	float: none;
	display: block;
	width: 100%;
}
