// main: style.scss

/* Page: 404
------------------------------*/
.error404 {
	text-align: center;
	.fa-frown-o {
		margin-bottom: 10px;
	}
	.search-form, .widget {
		margin-bottom: 40px;
		text-align: center;
	}
	.search-form {
		margin-top: 30px;
		input {
			margin: 0;
		}
	}
	.page-header, .page-title {
		text-align: center;
	}
	.widgettitle, .widget-title {
		font-size: 15px;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-bottom: 13px;
		font-weight: 700;
	}
	ul {
		padding-left: 0px;
		li {
			list-style: none;
		}
	}
}

/* Page: Search
------------------------------*/
.search-results {
	.hentry {
		border-bottom: 1px solid $border;
		padding-bottom: 25px;
		margin-bottom: 25px;
	}
	.entry-summary p {
		margin-bottom: 0px;
	}
	.entry-header .entry-title {
		font-size: 22px;
		line-height: 1.5;
		font-weight: 500;
		a:hover{
			text-decoration: none;
		}
	}
}

/* Page: Blog List - Default
------------------------------*/
.blog, .archive, .search {
	.content-area article {
		@include rem('margin-bottom', 30px);
		@include rem('padding-bottom', 40px);
		border-bottom: 1px solid $border;
	}
	.entry-content {
		margin-bottom: 25px;
	}
}


/* Entry Header
------------------------------*/
.entry-header .entry-title {
	font-weight: 600;
	text-transform: none;
	letter-spacing: -0.6px;
	font-family: $font_heading;
	font-size: 23px;
	line-height: 1.3;
	word-wrap: break-word;
	@include for(medium-screens) {
		font-size: 28px;
		line-height: 1.5;
	}
}

.single {
	.entry-header .entry-title {
		margin-bottom: 30px;
		font-size: 28px;
		@include for(medium-screens) {
			font-size: 32px;
			line-height: 1.5;
		}
	}
	.entry-meta {
		border-top: 1px solid $border;
		padding-top: 14px;
	}
}

.highlight {
	color: $primary;
}

/* Entry Content
------------------------------*/
.content-area {
	word-wrap: break-word;
}
.entry-content {
	margin-bottom: 30px;
	margin-top: 20px;
	max-width: 790px;
	word-wrap: break-word;
	blockquote {
		padding: 30px;
		position: relative;
		background: $meta;
		border-left: 3px solid $primary;
		font-style: italic;
		p {
			margin: 0px;
		}

	}
	h1,h2,h3,h4,h5,h6 {
		font-weight: normal;
		text-transform: none;
	}
	h1 {
		letter-spacing: -0.5px;
	}

	h2 {
		letter-spacing: -0.3px;
	}
}

/* Entry Stuff
------------------------------*/
.entry-more {
	a {
		@include rem('padding', 8px 15px 10px);
		font-family: $font_heading;
		i {
			margin-left: 5px;

		}
	}
}
.entry-meta {
	margin-bottom: 15px;
	@include rem('font-size', 14px);
	color: #999999;
	&::after {
		@include clearfix();
	}
	a {
		color: #888888;
		&:hover {
			color: $primary;
		}
	}
	i {
		color: $primary;
	}
	> span {
		margin-left: 15px;
		padding-left: 15px;
		position: relative;
		@include media-breakpoint-down(sm) {
			width: 50%;
			margin-bottom: 5px;
			&.meta-cate {
				display: none;
			}
		}
		&:before {
			background: #cccccc none repeat scroll 0 0;
		    content: "";
		    height: 12px;
		    left: 0;
		    position: absolute;
		    top: 4px;
		    width: 1px;
			@include media-breakpoint-down(sm) {
				content: none;
			}
		}

		&:first-child {
			margin-left: 0px;
			padding-left: 0px;
			&:before {
				content: none;
			}
		}
		&:last-child {
			float: right;
			@include media-breakpoint-down(sm) {
				float: none;
			}
			&:before {
				content: none;
			}
		}

		&:last-child {
			&:first-child {
				float: left;
			}
		}
	}
}

.entry-footer {
	margin-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid $border;
	.cat-links, .tags-links {
		display: block;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		font-size: 12px;
		font-weight: 600;
		margin-top: 5px;
	}
}

.nav-links {
	padding: 30px 0px;
	border-left: none;
	border-right: none;
	margin-bottom: 50px;
	@extend .clearfix !optional;
	.nav-previous {
		float: left;
	}
	.nav-next {
		float: right;
	}
	a {
		background: #cccccc;
		color: #FFFFFF;
		padding: 12px 20px;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 1px;
		text-transform: uppercase;
		border-radius: 2px;
		&:hover {
			background: $primary;
			text-decoration: none;
		}
	}
}

.bypostauthor {
	margin: 0;
}

/* Sticky Post
------------------------------*/
.sticky .entry-title {
	padding-left: 20px;
	position: relative;
	&:after {
		content: "\f276";
		display: inline-block;
	    font-family: "FontAwesome";
	    font-style: normal;
	    font-weight: normal;
		width: 12px;
		height: 12px;
		position: absolute;
		left: 0px;
		top: 7px;
		font-size: 22px;
		color: $primary;
	}
}

/* WordPress caption style
------------------------------*/
.wp-caption {
	max-width: 100%;
	font-style: italic;
	line-height: 1.35;
	margin-bottom: 15px;
	margin-top: 5px;
	img[class*="wp-image-"] {
		display: block;
		max-width: 100%;
	}
	.wp-caption-text {
		margin: 10px 0px;
	}
}

.wp-caption-text,
.entry-thumbnail-caption,
.cycle-caption {
	font-style: italic;
	line-height: 1.35;
	font-size: 13px;
}

/* WordPress Gallery
------------------------------*/

.gallery {
	margin: -5px;
	margin-bottom: 1.5em;

}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 1em;
	.gallery-icon {
		padding: 5px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.gallery-columns-2 & {
		max-width: 50%;
	}

	.gallery-columns-3 & {
		max-width: 33.33%;
	}

	.gallery-columns-4 & {
		max-width: 25%;
	}

	.gallery-columns-5 & {
		max-width: 20%;
	}

	.gallery-columns-6 & {
		max-width: 16.66%;
	}

	.gallery-columns-7 & {
		max-width: 14.28%;
	}

	.gallery-columns-8 & {
		max-width: 12.5%;
	}

	.gallery-columns-9 & {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}

/* Video Audio */
.wp-audio-shortcode, .wp-video-shortcode {
	margin: 15px 0px 30px;
}

/* Comments
------------------------------*/
#comments {
	padding-top: 30px;
	border-top: 1px solid $border;
	.comments-title {
		margin-bottom: $base;
		font-size: 18px;
		line-height: 26px;
	    letter-spacing: 1.5px;
	    text-transform: uppercase;
	}
	.comment-list {
		list-style: none;
		padding-left: 0px;
		.pingback {
			border-bottom: 1px solid $border;
			padding: $base 0;
			margin: 0;
			p { margin : 0px;}
		}
		.pingback:last-child {
			margin-bottom: $base*2;
		}

	}
	.comment-content.entry-content {
		margin-bottom: 0px;
	}
	.comment {
		list-style: none;
		margin: $gutter2 0;
		.avatar {
			width: 60px;
			float: left;
			@include border-radius( 3px );
		}
		.comment-wrapper {
			margin-left: $gutter2*3 ;
			padding: ($gutter2 - 5) $gutter2 $gutter2/2 $gutter2;
			background: #f8f9f9;
			position: relative;
			&:before {
				border-color: rgba(0, 0, 0, 0) #f6f7f9 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
			    border-style: solid;
			    border-width: 0 10px 10px 0;
			    content: "";
			    height: 0;
			    left: -9px;
			    position: absolute;
			    top: 0;
			    width: 0;
			}
			.comment-meta .comment-time, .comment-meta .comment-reply-link, .comment-meta .comment-edit-link {
				color: #aaaaaa;
				text-transform: uppercase;
				letter-spacing: 0.3px;
				font-size: 11px ;
				&:hover {
					color: $primary;
				}
				&:after {
					content: "/";
					padding: 0px 5px;
				}

			}
			.comment-meta a:last-child {
				&:after {
					content: "";
				}
			}
			.comment-meta cite .fn {
				font-weight: bold;
				font-style: normal;
				margin-right: 5px ;
				text-transform: uppercase;
				letter-spacing: 1.5px;
				font-size: 14px;
			}
			.comment-meta cite span {
				padding: 3px 10px;
				background: $border;
				@include border-radius(4px);
				margin-right: 10px;
			}
			a {
				text-decoration: none;
			}
		}
		.children {
			padding-left: $gutter2*1;
			.children {
				padding-left: $gutter2*1;
				.children {
					padding-left: 0px;
				}
			}
		}
		@include for(medium-screens) {
			.children {
				padding-left: $gutter2*3;
				.children {
					padding-left: $gutter2*3;
					.children {
						padding-left: $gutter2*3;
					}
				}
			}
		}

	}
	.form-allowed-tags {
		display: none;
	}
	a {
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
}

.right-sidebar .comment-respond textarea,
.left-sidebar .comment-respond textarea {
	width: 100%;
}
/* Comment Form
------------------------------*/
#respond {
	padding-top: $base;
	.comment-form label {
		display: block;
		margin-bottom: 4px;
	}
	.form-allowed-tags {
		font-size: 12px;
		code {
			background: none;
		}
	}
	.comment-reply-title {
		font-size: 18px;
		letter-spacing: 1.5px;
	    margin-bottom: 20px;
	    text-transform: uppercase;
	}
	.comment-notes {
		display: none;
	}
	label {
		font-size: 13px;
		text-transform: uppercase;
		letter-spacing: 1.5px;
	}
}

.full-screen .comments-area {
	max-width: $grid;
	margin: 0 auto;
}

/* Gutenberg
------------------------------*/

// Layout no sidebar.
.no-sidebar {
	.entry-content > .alignwide {
		max-width: 100vw;
		max-width: calc(var(--vw, 1vw) * 100);
		width: 1110px;
		transform: translateX(-50%);
		left: 50%;
		position: relative;
	}

	.entry-content > .alignfull {
		margin: 1.5em 0;
		max-width: 100vw;
		max-width: calc(var(--vw, 1vw) * 100);
		width: 100vw;
		/* Use vh as a fallback for browsers that do not support Custom Properties */
		width: calc(var(--vw, 1vw) * 100);
		transform: translateX(-50%);
		left: 50%;
		position: relative;
	}
}


// Video block
.wp-block-video video {
	max-width: 100%;
}

.wp-block-image img {
	display: block;
}

.wp-block-image.alignleft,
.wp-block-image.alignright {
	width: 100%;
}

.wp-block-image.alignfull img {
	width: 100vw;
	width: calc(var(--vw, 1vw) * 100);
}

.wp-block-gallery:not(.components-placeholder) {
	margin: 1.5em auto;
}

.wp-block-cover-text p {
	padding: 1.5em 14px;
}

ul.wp-block-latest-posts.alignwide,
ul.wp-block-latest-posts.alignfull,
ul.wp-block-latest-posts.is-grid.alignwide,
ul.wp-block-latest-posts.is-grid.alignwide {
	padding: 0 14px;
}

.wp-block-quote {
	&.is-style-large {
		cite {
			font-size: 13px;
		}
		padding: 0px;
	}
	&.is-large {
		cite {
			text-align: left;
		}
	}
	border-left-width: 4px;
	border-left-color: currentColor;
	> * {
		margin-left: 16px;
		margin-right: 16px;
	}
	cite {
		font-style: normal;
		margin-top: 1em;
		margin-left: 0px;
		position: relative;
		font-size: 13px;
		display: block;
		margin-bottom: 0px;
	}
}

.wp-block-pullquote {
	border-bottom: 4px solid currentColor;
	border-top: 4px solid currentColor;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	&.is-style-solid-color {
		border-bottom: 0 none;
		border-top: 0 none;
	}
    padding: 3em 0;
	text-align: center;
	> p:first-child {
		margin-top: 0;
	}
	cite {
		font-size: 13px;
		font-style: normal;
		text-transform: uppercase;
	}
}

.wp-block-separator {
	margin: 3em auto;
	border: none;
	border-bottom: 2px solid currentColor;
	&:not(.is-style-wide) {
		max-width: 100px;
	}
	&.is-style-dots {
		background: 0 0;
		border: none;
		text-align: center;
		max-width: none;
		line-height: 1;
		height: auto;
		&::before {
			padding-left: 0px;
			font-size: 25px;
		}
	}
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
    border-left: 4px solid #000;
    padding-left: 1em;
}

.wp-block-categories {
	&.aligncenter {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	.wp-block-cover-text p {
		padding: 1.5em 0;
	}
}

/*--------------------------------------------------------------
  # Block Color Palette Colors
  --------------------------------------------------------------*/
.has-strong-blue-color {
	color: #0073aa;
}

.has-strong-blue-background-color {
	background-color: #0073aa;
}

.has-lighter-blue-color {
	color: #229fd8;
}

.has-lighter-blue-background-color {
	background-color: #229fd8;
}

.has-very-light-gray-color {
	color: #eee;
}

.has-very-light-gray-background-color {
	background-color: #eee;
}

.has-very-dark-gray-color {
	color: #444;
}

.has-very-dark-gray-background-color {
	background-color: #444;
}