// main: style.scss

/*------------------------------
	2.1 Typography
------------------------------*/
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

html {
	box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 16px;
    @include media-breakpoint-down(md) {
        font-size: 15px;
    }
    @include media-breakpoint-down(sm) {
        font-size: 14px;
    }
}

body {
	background: #ffffff;
	height: 100%;
}

.site {
	position: relative;
}

body, button, input, select, textarea {
    font-family: $font_text;
    @include rem('font-size', 15px);
    line-height: 1.7;
    color: $text;
}

pre,
code,
input,
textarea {
	font: inherit;
}

::-moz-selection {
	background: #000000;
	color: #FFFFFF;
}

::selection {
	background: #000000;
	color: #FFFFFF;
}
/*------------------------------
	2.2 Links
------------------------------*/
a {
	color: $primary;
	text-decoration: none;
	outline: none;
	&:hover{
		text-decoration: none;
		color: $text;
		text-decoration: underline;
	}
	&:active, &:focus, &:hover {
		outline: none;
	}
}

/*------------------------------
	2.3 Heading
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: $font_heading;
	font-weight: 400;
	margin-bottom: 15px;
	@include rem('margin-bottom', 15px);
	margin-top: 0;
	@extend .break !optional;
	color: #444444;
	& a {
		color: #444444;
		text-decoration: none;
	}
}

h1 {
	line-height: 1.3;
	@include rem('font-size', 33px);
	@include media-breakpoint-up(md) {
		@include rem('font-size', 40px);
	}
	span {
		font-weight: bold;
	}
}

h2 {
	line-height: 1.2;
	@include rem('font-size', 25px);
	@include media-breakpoint-up(md) {
		@include rem('font-size', 32px);
	}
}

h3 {
	@include rem('font-size', 22px);
}

h4 {
	@include rem('font-size', 20px);
	margin-bottom: 12px;
}

h5 {
	@include rem('font-size', 18px);
}

h6 {
	@include rem('font-size', 16px);
}

/*------------------------------
	2.4 Base
------------------------------*/
ul,ol,dl,p,details,address,.vcard,figure,pre,fieldset,table,dt,dd,hr {
	@include rem('margin-bottom', 15px);
	margin-top: 0;
}
p,ul,ol,dl,blockquote {
	@extend .break !optional;
}


/*------------------------------
	2.5 Content
------------------------------*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	clear: both;
	margin: $base 0;
	p {
		font-style: italic;
	}
	cite {
		font-style: normal;
		margin-bottom: $base;
		font-size: 13px;
	}
}

dfn,
cite,
em,
i {
	font-style: italic;
}

figure {
	margin: 0;
}

address {
	margin: $base 0;
}

hr {
	border: 0;
	border-top: 1px solid $border;
	height: 1px;
	margin-bottom: $base;
}

tt,
kbd,
pre,
code,
samp,
var {
	font-family: $monaco;
	background-color: $border;
	padding: 5px 7px;
	@include border-radius;
}
.site-content kbd {
	color :#666666;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
	max-width: 100%;
	line-height: 1.7;
	margin: $base 0;
	padding: $base;
	@extend .break !optional;
}

details {
	summary {
		font-weight: bold;
		margin-bottom: $base;
	}
	:focus {
		outline: none;
	}
}

abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted $border;
	letter-spacing: 1px;
}

mark {
	background-color: #fff9c0;
	text-decoration: none;
}

small {
	font-size: 82%;
}

big {
	font-size: 125%;
}

ul, ol {
	padding-left: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul li, ol li {
	margin: $base/2.5 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 $base $base;
}

/*------------------------------
	2.6 Table
------------------------------*/
table {
	width: 100%;
	margin-bottom: $base;
	border: 1px solid $border;;
	border-collapse: collapse;
    border-spacing: 0;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
    border: 1px solid $border;
    line-height: 1.42857;
   	padding: 5px;
    vertical-align: middle;
    text-align: center;
}

table > thead > tr > th, table > thead > tr > td {
    border-bottom-width: 2px;
}

table th {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*------------------------------
	2.7 Form
------------------------------*/
fieldset{
	padding: $base;
	border: 1px solid $border;
}

input[type="reset"],input[type="submit"],input[type="submit"] {

	cursor: pointer;
	background: $primary;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	padding: 18px 23px 18px 23px;
	@include border-radius(2px);
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
	margin: 3px 0;
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
	&:hover {
		opacity: 0.8;
	}

}

input[type="button"]:hover, input[type="button"]:focus,input[type="reset"]:hover,
input[type="reset"]:focus,input[type="submit"]:hover,input[type="submit"]:focus,
button:hover,button:focus {
	cursor:pointer;
}

textarea {
	resize: vertical;
}
select {
	max-width: 100%;
	overflow: auto;
	vertical-align: top;
	outline: none;
	border: 1px solid $border;
	padding: $base/2;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	padding: 13px 13px;
	max-width: 100%;
	border: 0px;
	font-size: 15px;
	font-weight: normal;
	line-height: 22px;
	border-radius: 3px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
    border: 1px solid #cccccc;
    box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
    color: #222222;
    &:focus {
    	transition: all 0.2s linear;
    	-moz-transition: all 0.2s linear;
    	-webkit-transition: all 0.2s linear;
    	-o-transition: all 0.2s linear;
    	border-color: $primary;
    }
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="radio"],input[type="checkbox"] {
	margin:  0 $base/2;
}

/*------------------------------
	2.8 Accessibility
------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: $meta;
	@include border-radius( 3px );
	clip: auto !important;
	color: $primary;
	display: block;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 17px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/*------------------------------
	2.8 Accessibility
------------------------------*/

/*------------------------------
	2.9 Alignments
------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 3.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 3.5em;
}

.aligncenter {
	clear: both;
	@include center-block;
}

/*------------------------------
	3.0 Clearings
------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}

/*------------------------------
	3.1 Infinite Scroll
------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*------------------------------
	3.1 Helper.
------------------------------*/
.hide {
	display: none;
}

.clearleft {
	clear: left;
}

.page-links {
	clear: both;
	padding-top: 15px;
	display: block;
	a {
		padding: 0 5px;
	}
}

.transition5 {
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}
