
@import "variables";


/* WooCommerce support */
.woocommerce-cart, .woocommerce-checkout {
    #content-inside {
        max-width: 800px;
    }
}

.woocommerce-page {
    .site-main .page-title {
        display: none;
    }
}

.woocommerce-result-count {
    font-style: italic;
}

.woocommerce .woocommerce-ordering, .woocommerce .woocommerce-result-count {
    margin-bottom: 1.5em;
}

.woocommerce-ordering {
    select {
        padding: 7px;
        margin-top: -10px;
    }
}

.woocommerce ul.products li.product h3 {
    @include rem('font-size', 18px);
    margin-bottom: 7px;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce button.button.alt {
    background-color: $primary;
    @include rem('padding', 10px 20px);
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    @include rem('font-size', 13px);
    border-radius: 2px;
    &:hover {
        background: #222222;
        color: #FFF;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }
}

.woocommerce table.shop_table {
    border-collapse: collapse;
}

.woocommerce .quantity .qty {
    padding: 5px;
}
.woocommerce span.onsale {
    padding: inherit;
}

.related.products h2, #tab-description h2 {
    @include rem('font-size', 17px);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
    padding: 9px 14px;
    font-weight: bold;
}

.woocommerce ul.products li.product .price del {
    display: inline-block;
}
.woocommerce ul.products li.product .price {
    color: $text;
    font-weight: bold;
}
.woocommerce ul.products li.product .price ins {
    text-decoration: none;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: $primary;
    &:hover {
        background-color: #000;
    }
}

.woocommerce .cart-collaterals .cart_totals, .woocommerce-page .cart-collaterals .cart_totals{
    width: 100%;
    float: none;
    h2 {
        @include rem('font-size', 17px);
    }
    .shop_table {
        th, td {
            text-align: left;
        }

    }
}

.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2 {
    width: 100%;
    float: none;
}
.woocommerce-additional-fields  h3 {
    margin-top: 15px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
    font-size: 1.25em;
    padding: 1em;
    float: none;
    display: block;
    width: 100%;
}
