html {
    scroll-behavior: smooth;
}
body {
    background-color: #111;
    overflow-x: hidden;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 120px;
    box-shadow: 0px 0px 0px 0px;
    background-color:#111111;
    z-index: 1000;
}

/* Thêm các quy tắc CSS khác cho header tại đây */

.logo {
    width: 39px;
    height: 40px;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.logo-title {
    color: #fff;
    font-family: Dune Rise;
    font-size: 16px;
    font-style: normal;
    padding: 15px 0 0 0;
    font-weight: 400;
    line-height: normal;
}
.menu {
    display: flex;
    align-items: center;
}
.menu-active {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: linear-gradient(180deg, #d5a185 0%, #f6d9bf 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-dropdow {
    width: 10px;
    height: 9px;
    object-fit: cover;
}
.menu-link {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}
.menu-link {
    display: flex;
    align-items: center;
    gap: 5px;
}

.slider {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    overflow: hidden;
}
.slides .slide img {
    margin-top:49px;
}
.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.16);
    outline: none;
    cursor: pointer;
}

.prevBtn {
    left: 40px;
    border-radius:50%;
}

.nextBtn {
    right: 40px;
    border-radius:50%;

}
.contet {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contet-main {
    padding: 0 120px;
    margin: 64px 0;
}
.contet-title {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    padding: 8px 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contet-title_active {
    background: var(--Linear, linear-gradient(180deg, #d5a185 0%, #f6d9bf 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left:7px;
    margin-right:7px;
}
.contet-sub {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}
.contet-shaper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.slider-bar {
    padding: 0 120px;
}
.sliderBox {
    display: flex;
    align-items: center;
}
.sliderBox-img{
    margin-top:30px;
}
.listBox.sliderBox-img img {
    width: 100%;
    height: 554px;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}
.sliderBox-img img {
    width: 100%;
    height: 554px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
.sliderBox_30{
    margin:0 15px;
}
.opacity-0 {
    opacity: 0;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.btn-container button {
    cursor: pointer;
    border-radius: 50%;
}
.prevBtn-box,
.nextBtn-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.16);
    outline: none;
    cursor: pointer;
}

.prevBtn-box {
    left: -80px;
    top: -400px;
}

.nextBtn-box {
    right: -80px;
    top: -400px;
}
.dots-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: rgba(246, 217, 191, 0.16);
}

.dot.active {
    border-radius: 6px;
    background: var(--d-5-a-185, #deaf96);
    box-shadow: 0px 1.5px 6px 0px rgba(246, 217, 191, 0.2);
}
.card-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.08);
    padding:0;
}

.main-sub {
    display: flex;
    align-items: center;
    gap:15px;
}
.description-img {
    width: 100%;
    padding:15px;
    background-color: #FFFFFF14;
    border-radius: 0 0 8px 8px;
}
.listBox .description-img {
    width: 100%;
    padding: 15px;
    background-color: #FFFFFF14;
    border-radius: 0 8px 8px 0;
}
.description-title {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 92px;
}
.description-sub {
    color: var(--f-6-d-9-bf, #f6d9bf);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-bottom:8px;
}
.description-sub a{
    color: var(--f-6-d-9-bf, #f6d9bf);

}

.title-desription,
.title-img {
    width: 50%;
}
.title-img {
    position: relative;
    display: flex;
    justify-content: right;
}
.title-img:before {
    content: "";
    position: absolute;
    width: 90%;
    height: 617.59px;
    flex-shrink: 0;
    border-radius: 8.338px;
    background: #D5A185;
    top: -27px;
    left: 42px;
    z-index: 0;
}

.title-img:after {
    content: "";
    position: absolute;
    top: -2%;
    width: 95%;
    height: 587.32px;
    left: 19px;
    background: #f6d9bf;
    border-radius: 8.338px;
    z-index: 1;
}

.title-line {
    border-left: 1px solid #deaf96;
}
.title-line,
.title-sub {
    padding-left: 20px;
    margin-top:40px;
}

.title-sub h1 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
    margin-bottom:16px;
}
.title-sub p {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.title-line h1 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; /* 41.6px */
}
.title-line p {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.32px;
}
.title-contact {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-img img {
    width: 100%;
    height: 563.94px;
    border-radius: 8.338px;
    opacity: 1;
    background: var(--f-6-d-9-bf, #deaf96);
    z-index: 2;
    object-fit: cover;
}
.title-price {
    background: url("/wp-content/themes/silas/assets/images/Rectangle 2238.png") no-repeat;
    background-size:cover;
}
.title-price {
    padding: 0 120px;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}
.price-img {
    position: relative;
    padding: 59px 0;
    width: 457px;
    height: 100%;
}
.price-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.price-shaper-top {
    position: absolute;
    top: 5%;
    left: -10%;
}
.price-shaper-bot {
    position: absolute;
    bottom: 5%;
    right: -10%;
}
.right-one {
    position: absolute;
    top: 20%;
    right: -30%;
}
.right-two {
    position: absolute;
    top: 10%;
    right: -40%;
}
.right-there {
    position: absolute;
    top: 30%;
    right: -35%;
}

.title-sale {
    padding: 0 120px 64px 120px;
}
.title-reactive {
    position: relative;
}
.title-reactive .shaper-start {
    position: absolute;
    top: -30%;
    left: -10%;
}
.title-sale_box {
    border-radius: 0px 0px 8px 8px;
}
.title-sale_box .img-sale {
    width: 100%;
    height: auto;
}
.title-sale_box .sale-title {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height:50px;
}
.sale-title-sub {
    color: rgba(255, 255, 255, 0.8);

    /* Text */
    padding-bottom: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}
.footer {
    border-radius: 8px 8px 0px 0px;
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0 120px;
    margin-top: 64px;
}
.body-footer {
    padding: 32px 0;
    display: flex;
}
.fotter-contact {
    display: flex;
    width: 50%;
    gap: 20px;
    flex-direction: column;
}
.phone-info {
    display: flex;
    align-items: center;
}
.footer-phone {
    width: 30%;
}
.footer-info {
    width: 48%;
}
.icon-f-g {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-phone,
.footer-info {
    display: flex;
    align-items: center;
    gap: 10px;
}
.contact-phone,
.footer-info .info {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.icon-info {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.16);
}

.footer-list {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-menu {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.menu-link-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menu-link-bot {
    width: 100%;
    display: flex;
    gap: 85px;
}
.menu-link-top a,
.menu-link-bot a {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
}

.footer-list img {
    width: 39.981px;
    height: 40px;
    object-fit: cover;
}
.footer-list h1 {
    color: #fff;
    font-family: Dune Rise;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.info-dev {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 10px 0;
    background: rgba(255, 255, 255, 0.12);
}
