/*
Editor Styles
--------------------------------------------------------------*/
/*--------------------------------------------------------------
#. Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: inherit;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
2.0 Document Setup
--------------------------------------------------------------*/
/*------------------------------
	2.1 Typography
------------------------------*/

html {
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-size: 16px;
}

@media (max-width: 991px) {
	html {
		font-size: 15px;
	}
}

@media (max-width: 767px) {
	html {
		font-size: 14px;
	}
}

.site {
	position: relative;
}

body, button, input, select, textarea {
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.8;
	color: #777777;
}

body {
    margin: 25px;
}


pre,
code,
input,
textarea {
	font: inherit;
}

::-moz-selection {
	background: #000000;
	color: #FFFFFF;
}

::selection {
	background: #000000;
	color: #FFFFFF;
}

/*------------------------------
	2.2 Links
------------------------------*/
a {
	color: #e86240;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #777777;
	text-decoration: underline;
}

a:active, a:focus, a:hover {
	outline: none;
}

/*------------------------------
	2.3 Heading
------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-family: "Montserrat", Helvetica, Arial, sans-serif;
	font-weight: 400;
	margin-bottom: 15px;
	margin-bottom: 15px;
	margin-bottom: 0.9375rem;
	margin-top: 0;
	color: #444444;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #444444;
	text-decoration: none;
}

h1 {
	line-height: 1.3;
	font-size: 33px;
	font-size: 2.0625rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 40px;
		font-size: 2.5rem;
	}
}

h1 span {
	font-weight: bold;
}

h2 {
	line-height: 1.2;
	font-size: 25px;
	font-size: 1.5625rem;
}

@media (min-width: 768px) {
	h2 {
		font-size: 32px;
		font-size: 2rem;
	}
}

h3 {
	font-size: 22px;
	font-size: 1.375rem;
}

h4 {
	font-size: 20px;
	font-size: 1.25rem;
	margin-bottom: 12px;
}

h5 {
	font-size: 18px;
	font-size: 1.125rem;
}

h6 {
	font-size: 16px;
	font-size: 1rem;
}

/*------------------------------
	2.4 Base
------------------------------*/
ul, ol, dl, p, details, address, .vcard, figure, pre, fieldset, table, dt, dd, hr {
	margin-bottom: 15px;
	margin-bottom: 0.9375rem;
	margin-top: 0;
}

/*------------------------------
	2.5 Content
------------------------------*/
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

b,
strong {
	font-weight: bold;
}

blockquote {
	clear: both;
	margin: 20px 0;
    padding: 30px;
	position: relative;
	background: #f8f9f9;
	border-left: 3px solid #e86240;
	font-style: italic;
}

blockquote p {
	font-style: italic;
    margin: 0px;
}

blockquote cite {
	font-style: normal;
	margin-bottom: 20px;
	font-size: 13px;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

figure {
	margin: 0;
}

address {
	margin: 20px 0;
}

hr {
	border: 0;
	border-top: 1px solid #e9e9e9;
	height: 1px;
	margin-bottom: 20px;
}

tt,
kbd,
pre,
code,
samp,
var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	background-color: #e9e9e9;
	padding: 5px 7px;
	border-radius: 2px;
}

.site-content kbd {
	color: #666666;
}

pre {
	overflow: auto;
	white-space: pre-wrap;
	max-width: 100%;
	line-height: 1.7;
	margin: 20px 0;
	padding: 20px;
}

details summary {
	font-weight: bold;
	margin-bottom: 20px;
}

details :focus {
	outline: none;
}

abbr,
acronym,
dfn {
	cursor: help;
	font-size: .95em;
	text-transform: uppercase;
	border-bottom: 1px dotted #e9e9e9;
	letter-spacing: 1px;
}

mark {
	background-color: #fff9c0;
	text-decoration: none;
}

small {
	font-size: 82%;
}

big {
	font-size: 125%;
}

ul, ol {
	padding-left: 20px;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

ul li, ol li {
	margin: 8px 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 20px 20px;
}

/*------------------------------
	2.6 Table
------------------------------*/
table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #e9e9e9;
	border-collapse: collapse;
	border-spacing: 0;
}

table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border: 1px solid #e9e9e9;
	line-height: 1.42857;
	padding: 5px;
	vertical-align: middle;
	text-align: center;
}

table > thead > tr > th, table > thead > tr > td {
	border-bottom-width: 2px;
}

table th {
	font-size: 14px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/*------------------------------
	2.7 Form
------------------------------*/
fieldset {
	padding: 20px;
	border: 1px solid #e9e9e9;
}

input[type="reset"], input[type="submit"], input[type="submit"] {
	cursor: pointer;
	background: #e86240;
	border: none;
	display: inline-block;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 1;
	text-align: center;
	padding: 18px 23px 18px 23px;
	border-radius: 2px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.1) inset;
	margin: 3px 0;
	text-decoration: none;
	font-weight: 600;
	font-size: 13px;
}

input[type="reset"]:hover, input[type="submit"]:hover, input[type="submit"]:hover {
	opacity: 0.8;
}

input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover,
input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
button:hover, button:focus {
	cursor: pointer;
}

textarea {
	resize: vertical;
}

select {
	max-width: 100%;
	overflow: auto;
	vertical-align: top;
	outline: none;
	border: 1px solid #e9e9e9;
	padding: 10px;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	padding: 13px 13px;
	max-width: 100%;
	border: 0px;
	font-size: 15px;
	font-weight: normal;
	line-height: 22px;
	border-radius: 3px;
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset;
	color: #222222;
}

textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
	transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	border-color: #e86240;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0 10px;
}

/*------------------------------
	2.8 Accessibility
------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f8f9f9;
	border-radius: 3px;
	clip: auto !important;
	color: #e86240;
	display: block;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 17px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar */
}

/*------------------------------
	2.8 Accessibility
------------------------------*/
/*------------------------------
	2.9 Alignments
------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 3.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 3.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* WordPress Gallery
------------------------------*/
.gallery {
	margin: -5px;
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin-bottom: 1em;
}

.gallery-item .gallery-icon {
	padding: 5px;
}

.gallery-item .gallery-icon img {
	width: 100%;
	height: auto;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	color: rgba(39, 48, 57, 0.85);
	display: block;
	font-size: 0.81em;
	font-style: italic;
	line-height: 1.4;
	padding: 0.5em 0;
}
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

/* Video Audio */
.wp-audio-shortcode, .wp-video-shortcode {
	margin: 15px 0px 30px;
}
