@media(min-width:1921px){.wt-logo{max-width:132px}
}@media(max-width:1680px){.wt-community{padding-right: 100px;} .wt-appfeatures{padding-right: 50px;}.wt-usersidebar .wtprofile-strength-wrap{display: none;padding: 20px 20px 0;}.wt-openmenu .wt-usersidebar .wt-companysinfo .wtprofile-strength-wrap{display: flex;}.wt-bannerholdervthree:after{bottom:-30px}
.wt-home-slider figure img{object-fit:cover;object-position:center;min-height:800px}
}@media(max-width:1600px){.wt-comingsoonimg figure{padding:0}
.wt-bannerholdervthree:after{bottom:-32px}
.wt-comingsoon-content{padding-left:20px}
.wt-bannerslider-two:after{top:50px;width:100%;height:100%;background-repeat:no-repeat;background-size:cover}
}@media(max-width:1536px){.wt-bannerholdervthree:after{bottom:-33px}
.wt-footertwo:before{top:-3px}
.wt-bannerimgv2{margin-left: 30px;}
	.wt-freelanceplatform > div,
	.wt-appfeatures{width: 50%;}
	.wt-community {padding-right: 30px;padding-left: 30px;}
	.wt-joinnow__imgleft,
	.wt-joinnow__imgright{display: none;}
	.wt-appfeatures-section{background-image: none;}
}@media(max-width:1440px){.wt-bannercontent-wrap{width:1000px;margin:0;left:50%;margin-left:-500px}
	.wt-bannerholdervthree:after{bottom:-34px}
	.wt-headervthhree .wt-rightarea .wt-loginarea{padding:0}
	.wt-bannerimages{margin:0;width:100%}
	.wt-search-have .wt-formbannervtwo{display:none}
	.wt-search-have.show-sform .wt-formbannervtwo,.wt-search-have .wt-respsonsive-search{display:block}
	.header-variation-two .wt-header .wt-rightarea{display:block;height:auto}
	.wt-headereleven.wt-search-have.show-sform .wt-formbannervtwo{
		padding: 10px 15px;
		margin-top: 10px;
		border-radius: 4px;
	}
	.wt-bannerimgv2 {
		margin-left: 0px;
	}
	.wt-appfeaturesimg__mob{
		right: -32px;
		transform: none;
	}
	.wt-appfeatures{padding-left: 50px;}
	.wt-projectinfo li{width: 100%;}
	.wt-appfeatures-section .wt-appfeaturesimg__mob{display: none;}
	.wt-appfeatures-section .wt-appfeatures{margin-left: 50px;}
}
@media (max-width: 1440px) and (min-width: 991px) {
	.wt-moredetailsholder .wt-withdraw-bl.wt-insightsitem .wt-userlistingimg{display: none;}
	.wt-moredetailsholder .wt-insightsitem.wt-withdraw-bl{
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
	}
	.wt-moredetailsholder .wt-withdraw-bl .wt-btnarea{margin: 20px 0 0;}
	.wt-moredetailsholder .wt-insightsitem.wt-withdraw-bl{padding: 30px;}
}
@media(max-width:1366px){
	.wt-search-items li{width: 25%;}
	.wt-bannerimgv2 img{max-width: 100%;}.wt-footertwo:before{top:-5px}
.wt-socials-profile .wt-userform .form-group{width:100%}
.wt-bannerholderthree .wt-bannercontent{padding-left:15px}
.wt-bannerholderthree{min-height:600px}
.wt-counterbox{padding:0 30px}
.wt-comming-sooncounter .timer_box h1{font-size:50px;line-height:50px}
.wt-comming-sooncounter .timer_box p{font-size:20px;line-height:26px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{width:auto;float:left;max-width:none;min-width:800px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset{min-width:auto}
.wt-homeseven-img{width:531px}
}@media(max-width:1280px){
	.wt-appfeaturesimg{max-width: 500px;}
	.wt-headerimgs{display: none;}
	.wt-homebannerv3{padding-right: 0;}
	.wt-latestproject{
		padding-right: 20px;
		padding-left: 20px;
	}.wt-comingsoonimg{display:none}
.wt-headervfour .wt-nav{padding-left:30px}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn span{display:none}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn i{display:inline-block}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn{width:60px}
.wt-bannerholderthree .wt-formbanner fieldset .form-group .form-control{padding-right:300px}
.wt-bannerholderthree .wt-formoptions .wt-radioholder{width:225px}
.wt-bannerholderthree .wt-formoptions .wt-dropdown{min-width:225px}
.wt-homeseven-img{width:481px}
}@media(max-width:1199px){
	.wt-bestservices-section .wt-freelancers figure{max-height: 164px;}
	.wt-joinnowpopup .modal-dialog{
		padding-left: 15px;
		padding-right: 15px;
	}
	.wt-search-items li{width: 33.33%;}
	.wt-ourservices .ti-prev{left: 10px;}
	.wt-ourservices .ti-next{right: 10px;}
	.wt-bannerimgv2{display: none;}
	.wt-notify-listwarap table thead tr th:first-child, .wt-notify-listwarap table tbody tr td:first-child{
		max-width: 40px;
	}
	.wt-community__list{padding: 0;}
	.wt-freelanceplatform > div.wt-community{width: 60%;}
	.wt-freelanceplatform > div.wt-communityvideo{
		width: 40%;
	}
	.wt-freelanceplatform{flex-wrap: wrap;}
	.wt-homebanner-transparent{
		padding-top: 157px;
		padding-bottom: 85px;
	}
	.wt-appfeatures{width: 100%;}
	.wt-categorieslist ul li{width: calc(100% / 3);}
	.wt-latestproject{
		padding-right: 30px;
		padding-left: 30px;
	}
	.wt-projectinfo li{width: 50%;}
	.wt-appfeatures-section .wt-appfeatures{
		padding: 50px 30px;
		max-width: 600px;
		margin: 0;
	}
	.wt-latestjobs-wrap{padding: 0 15px;}
	.wt-userlistingholdvtwo .wt-userlistingcontent .wt-contenthead{padding-right: 0; }
.wt-access-both.wt-profilecounter .wt-description{margin: 30px 0 0;}
.wt-userdetails{padding: 0 15px;}
.wt-joininfotwonew .wt-formnewslettervtwo{float:left;width:100%}
.wt-homebannerseven{min-height:1000px}
.wt-footertwo:before{top:-7px}
.wt-freelancer-img{width:90%}
.wt-userlistingholdvtwo .wt-userlistingcontent .wt-viewjobholder{margin:0;margin-top:30px}
.wt-userlistingholdvtwo .wt-userlistingcontent{display:block}
.wt-clientfeedback .wt-userlistingsingle .wt-overallratingarea{line-height:16px}
.wt-overallratingarea>.wt-stars span,.wt-overallratingarea>.wt-stars{height:16px}
.wt-bannerslider-two{margin:0}
.wt-slidericons img{top:0;left:0}
.wt-bannerslider-two:after{display:none}
.pv_paypal_container ~ table td p label{width:100%;margin:0 0 10px;line-height:20px}
.pv_paypal_container ~ table td p input[type="text"]{width:100%}
.wt-profilecounter .wt-description{margin-bottom:0}
.wt-topfreelancers>.col-12{float:none!important;display:inline-block;vertical-align:top;margin:0 -2px 0 -1px}
.wt-topfreelancers>.col-12:nth-child(n+4){margin-top:30px}
.wt-workdetails-border:after,.wt-workdetails-bordertwo:before{display:none}
.woocommerce div.product .entry-summary form.cart .button.product_type_variable{padding:0 20px;min-width:150px}
.wt-404errorcontent .wt-description{padding:0}
.wt-innerbannercontent .wt-title h2{font-size:40px}
.wt-project{width:50%}
.wt-tabstitle li a:after{display:none}
.wt-userlistingcontent .wt-rightarea .wt-stars{width:90px;margin:0 auto}
.wt-companysinfo .wt-postarticlemeta li{padding:0 0 0 7px}
.wt-companysinfo .wt-postarticlemeta li:first-child{padding-left:0}
.wt-companysdetails .wt-companysinfo{padding:0 10px 30px}
.wt-emptydata{height:370px}
.wt-experienceholder{padding:0}
.wt-teamfilter .wt-sectionhead{width:50%}
.wt-teamholder{width:25%}
.wt-fbtnarea{float:left}
.wt-userprofileholder{padding:30px}
.wt-profilecounter{margin:0;border:0;width:100%;max-width:none;margin-top:30px;border-top:1px solid #f2f2f2}
.wt-userlisting .wt-userlistingcontent{float:left;padding:0;width:100%;text-align:center}
.wt-userlisting .wt-contenthead{width:100%;max-width:none}
.wt-userlisting .wt-userlistingcontent .wt-rightarea{float:left;width:100%;margin:20px 0}
.wt-userlisting .wt-description{text-align:center}
.wt-userlisting .wt-widgettag{text-align:center}
.wt-userlisting .wt-widgettag a{float:none;display:inline-block;vertical-align:middle}
.wt-userlisting .wt-userlistingimg{float:none;margin:0 auto 20px}
.wt-proposalhead{max-width:none}
.wt-proposalholder .wt-btnarea{float:left;padding:0;clear:both;margin-top:30px;position:static}
.wt-viewjobholder{border:0;float:left;width:100%;margin-top:30px;position:static;padding-top:30px;background:transparent;border-top:1px solid #ddd}
.wt-viewjobholder ul{padding:0}
.wt-articlesingle-content .wt-description .wt-blockquotevone{padding:0 190px 23px}
.wt-404errorcontent{padding:60px 20px}
.wt-bannerholdervtwo .wt-bannercontent .wt-title h1,.wt-bannercontent .wt-title h1{font-size:40px;line-height:50px}
.wt-categoryexpl>.float-left:nth-child(n+4){margin-top:30px}
.wt-skills-users .wt-userlistingholdvtwo .wt-userlistingcontent .wt-description,.wt-skills-users .wt-userlistingholdvtwo .wt-userlistingcontent{text-align:left}
.wt-userlisting .wt-userlistingcontent .wt-rightarea>.wt-rightarea{margin:0}
.wt-userlisting .wt-userlistingcontent .user-stars-v2{padding:0}
.wt-clientfeedback .wt-userlistinghold .wt-contenthead .wt-userlisting-breadcrumb{line-height:26px}
.wt-freelanceritems .wt-userlistingcontent .wt-viewjobholder{margin:0;padding:0}
.wt-homeseven-img,.wt-joininfotwo-img{display:none}
.wt-joininfotwo .wt-formnewslettervtwo .form-group label{padding-top:0}
.wt-joinnowpopup-wrap{padding-left:0;padding-right:30px}
.wt-joinnow-img{height:661px}
.wt-joinnow-img img{width:100%;object-fit:cover;height:100%}
.wt-without .wt-joinnowpopup-wrap {padding-left: 30px;padding-right: 30px;}
}
@media(max-width:1120px){
    .wt-rcvproposalholder .wt-titlewithsearch .wt-formsearch .form-group{
        flex-direction: column;
    }
    .wt-rcvproposalholder .wt-titlewithsearch .wt-formsearch .form-group .status-change-select{width: auto;}
    .wt-rcvproposalholder .wt-titlewithsearch .wt-formsearch .wt-searchgbtn, .page-template-dashboard .wt-rcvproposalholder #btn-change-status{
        margin: 10px 0 0;
    }
}
@media(max-width:1080px){
	.wt-appfeaturesimg {
    max-width: 400px;
}
.wt-projectinfo li{width: 100%;}
	.wt-categoryvthree li:nth-child(4){border-top:0}
.wt-latestjob-footer .wt-skillsrequired{flex:0 0 70%}
.wt-headereleven .wt-navigationarea{padding:0}
.wt-bannerholdervthree:before{right:0}
.wt-bannercontent-wrap{left:0;margin:0;width:100%;margin-left:0}
.wt-home-slider{left:0}
.wt-bannerholdervthree:after{display:none}
.wt-headereleven{padding:0}
.wt-categoryslidercontent figure{float:none;margin:0 auto 10px!important}
.wt-categoryslidercontent .wt-cattitle{width:100%;max-width:none;text-align:center}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{min-width:710px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .wt-formoptions .wt-dropdown{width:200px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-right:400px}
.wt-categoryvthree li{width:calc(100% / 3)}
.wt-categoryvthree li:nth-child(3)>div,.wt-categoryvthree li:nth-child(3){border-radius:0 10px 0 0}
.wt-categoryvthree li:nth-child(4)>div,.wt-categoryvthree li:nth-child(4),.wt-categoryvthree li:nth-child(5)>div,.wt-categoryvthree li:nth-child(5){border-radius:0}
.wt-categoryvthree li:nth-child(6)>div,.wt-categoryvthree li:nth-child(6){border-radius:0 0 10px 0}
.wt-categoryvthree li:nth-child(7)>div,.wt-categoryvthree li:nth-child(7){border-radius:0 0 0 10px}
.wt-footertwo:before{display:none}
.wt-footertwo{padding-right:0}
.wt-footer-bg,.wt-footer-bg:before{clip-path:polygon(0 0,100% 25%,100% 100%,0 100%)}
.wt-footer-bg,.wt-footertwo:after{left:0}
}@media(max-width:991px){
	.four-column-holder .wt-freelancers figure {
		max-height: 200px;
	}

	.wt-latestjob-logo+.wt-latestjob-title{width: 50%;flex: 0 0 50%;padding-right: 20px;}
	.wtbody-white .wt-portfolio-hold .wt-sidebar-portfolio{
		border: 1px solid #eee;
		border-top: 0;
	}
	.wt-invoice-table > tbody > tr td span{display: inline-block;}
	.wt-invoice-table > tbody > tr:first-child td{
		padding: 10px 0;
		display: flex;
	}
	.wt-subtotalbill{
		width: 40%;
    	padding: 0;
	}
	.wt-invoice-table thead,
	.wt-invoice-table tbody,
	.wt-invoice-table th, .wt-invoice-table td,
	.wt-invoice-table tr{display: block;}
	.wt-invoice-table > tbody > tr td + td:last-child,
	.wt-invoice-table > tbody > tr td + td:nth-child(2){
		width: 100%;
	}
	.wt-invoice-table thead tr {
	    position: absolute;
	    top: -9999px;
	    left: -9999px;
	}
	.wt-invoice-table td:before {
	    width: 30%;
	    flex: none;
	    padding-right: 20px;
	    color: #7D7A7E;
		display: inline-block;
	    content: attr(data-label);
	}
	.wc-register_single .single-social-style .wt-loginicon ul li, .wc-login .single-social-style .wt-loginicon ul li{min-width: auto;}
	.wt-appfeatures-section .wt-appfeatures{max-width: 100%;}
	.wt-appfeaturesimg {display: none;}
	.wt-communityhead .wt-sectiontitlevthree{width: 100%;}
	.wt-homebannerv3 .wt-homebanner__title h1{font-size: 54px;}
	.wt-joincommunity{padding-left: 30px;padding-right: 30px;}
	.wt-bestserviceinnerslider.wt-nav{float: none;}
	.wt-markettrend__content .wt-cards__title{padding-right: 20px;}
	.wt-categorieslist ul li{width: 50%;}
	.wt-headerv2 .wt-nav{
		margin: 0;
		float: none;
	}
	.wt-headerv2 .wt-navigation > ul > li > a{
		padding-right: 15px;
		padding-left: 15px;
	}
	.wt-headerv2 .navbar-nav > li ~ li:before{content: none;}
	.wt-headerv2 .wt-nav .navbar-toggler{
		width: 99px;
		height: 40px;
		padding: 8px;
		border-radius: 4px;
		background: #F6D9BF29;
	}
	.wt-headerv2 .wt-nav .wt-navbar-toggler{
		background-color: var(--themecolorvone);
		height: 50px;
		min-width: 50px;
	}
	.wt-servicesimg{margin-bottom: 60px !important;}
	.wt-community-list li + li:before{content: none;}
	.wt-community-list li{width: 50%;}
	.wt-communityhead{flex-wrap: wrap;}
	.wt-communityhead .wt-sectiontitletwo{width: 100%;}
	.wt-communityhead-btn{
		margin: 0;
		padding: 20px 0 0;
	}
	.wt-projectinfo li{width: 50%;}
	.wt-userprofile .wtprofile-strength-wrap{
		float: none;
		margin: 0 auto;
		max-width: 300px;
	}
	.wt-userfeedback-head{flex-wrap: wrap;}
.wt-reviews .review-wrap .wt-description {padding-left:0 !important;}
.wt-navigation>ul>.menu-item-has-mega-menu>.mega-menu,
.wt-navigation>ul>li>.children,
.wt-navigation>ul>li>.sub-menu{transition: none;}
.wt-footer-v1 .wt-footerlogohold {
	margin: 0 0 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid rgba(255,255,255,0.20);
}
.wt-footer-v1 .wt-widgetcompany{
	padding-left: 0;
	border-left: 0;
	margin-top: 20px;
}
.wt-nav .children,
.wt-nav .sub-menu,
.wt-nav .mega-menu{transition: none;}
.wt-headereleven.wt-header .wt-navigation:not(.wt-categories-navbar)>ul>.menu-item-has-children:after{display:none;}
.wt-headereleven .wt-navigation:not(.wt-categories-navbar)>ul>li>a{color:#767676;padding: 15px 20px;}
.wt-categories-navbar .wt-dropdowarrow{display:block}
.wt-cat-menu-wrap .mega-menu .mega-menu-row>.mega-menu-col div{padding: 0px 30px;}
.wt-cat-menu-wrap  .wt-navigation ul li .sub-menu li .sub-menu li a{padding:15px 30px !important;}
.wt-categories-nav .sub-menu{border-radius:0;padding:0;top:100%;position:static;transition:none;border-top:2px solid var(--terthemecolor);opacity:1;visibility:visible;box-shadow:none}
.wt-categories-nav .sub-menu:before{display:none}
.wt-categories-navbar{top:100%;left:0;background:#fff;border-radius:0;position:absolute;-webkit-box-shadow:0 20px 20px 0 rgba(0,0,0,0.25);box-shadow:0 20px 20px 0 rgba(0,0,0,0.25);width:100%}
.wt-categories-navbar ul{flex-direction:column}
.wt-categories-nav .sub-menu li,.wt-categories-navbar ul li{margin:0 !important}
.wt-categories-navbar ul li a,.wt-categories-nav .sub-menu li a{color:#767676 !important;padding:15px 20px !important;}
.wt-categories-navbar ul li+li>a{border-top:1px solid #ddd}
.wt-categories-navbar ul li.menu-item-has-children:after{display:none}
.wt-categories-navbar ul li.menu-item-has-children{padding:0 !important;margin: 0 !important;}
.wt-categories-nav{padding:10px 20px}
.wt-applyfilters span{padding:0}
.wt-joininfotwonew.wt-joininfotwo .wt-formnewslettervtwo .form-group label{padding:0 0 20px}
.wt-headereleven .wt-userlogedin{margin-left:20px}
.wt-footer-bg{left:0;clip-path:none}
.wt-footertwo:after{display:none}
.wt-footertwo{padding:80px 0 0}
.wt-footertwo:before{display:none}
.wt-headereleven .wt-nav .navbar-toggler{margin:30px 0}
.wt-bannerthree-title{width:50%;padding-left:30px}
.wt-bannerthree-form{width:50%}
.wt-bannerthree-title h2{font-size:34px}
.wt-bannerthree-title span{font-size:22px}
.wt-service-tag a{line-height:22px}
.wt-sidebar-portfolio{border-top:1px solid #ddd}
.wt-sidebar-portfolio .wt-companysdetails .wt-companysinfo .wt-userprofile .wt-title{display:flex;justify-content:center;align-items:center;flex-direction:column}
.wt-portfolio-hold>.row>.float-left{padding-right:15px;border:0}
.wt-portfolio-hold>.row>.float-right{padding-left:15px}
.wt-socials-profile .wt-userform .form-group{width:50%}
.wt-servicesgallery figure{min-height:0}
.wt-headersearch .wt-loginformhold{right:50%;margin-right:-205px}
form[name*="serach-projects"] .wt-widget{width:50%}
.wt-sticky .workreap-header-v4 .wt-navigation{max-height:70vh;overflow-y:scroll}
.wt-bannerholderthree .wt-bannercontent{padding-left:0}
.wt-sc-slider{padding-top:79px}
.wt-headernine .wt-navigation>ul>li>a{margin:0;padding:15px 13px}
.wt-registration-parent-model{margin:0;padding:0!important}
.wt-video-list{width:100%}
.wt-headervfour .wt-userlogedin:before{display:block}
.wt-bannerholderthree .wt-bannercontent .wt-description{padding:0}
.wt-headervfour .wt-nav{padding:0}
.wt-headervfour .wt-nav .navbar-toggler{margin:30px 20px 30px 10px}
.wt-workvideo-img:after{width:244px;height:244px;background-size:100% 100%}
.wt-workvideo-img:before{height:140px;width:140px;background-size:100% 100%}
.wt-headervfour .wt-navigation{width:100%;z-index:99}
.wt-bannerholderthree{position:relative;overflow:hidden}
.wt-bannerholderthree>div>div>[class*=col-]:nth-child(2){top:0;padding:0;position:absolute}
.wt-slidericons{display:none}
.wt-bannerimg{background:#000}
.wt-bannerimg img{opacity:.5;max-width:none!important;border-radius:0!important;max-height:100%!important}
.wt-bannerholderthree .wt-videocontent span,.wt-bannerholderthree .wt-bannercontent .wt-bannerhead .wt-description p,.wt-bannerholderthree .wt-bannercontent .wt-title h1{color:#fff}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn{width:155px}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn span{display:block}
.wt-bannerholderthree .wt-formoptions>.wt-searchbtn i{display:none}
.wcv-dashboard-navigation ~ form p input[type="submit"].btn-small{margin:0}
.wt-headervthhree .wt-navigationarea .wt-navigation>ul>li>a{color:#767676}
.wt-ratingcontent .wt-btn{min-width:0}
.wt-companysdetails .wt-companysinfo .wt-userprofile .wt-title{margin:0;padding:0}
.wt-servicesingle-title .wt-userlisting-breadcrumb li{margin:5px 0}
.wt-servicesingle-title .wt-userlisting-breadcrumb{margin:15px 0 -5px}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{line-height:20px;padding-bottom:15px}
.woocommerce .product .entry-summary>.entry-title{display:block;margin:0 0 5px}
.woocommerce .product .entry-summary>.price{float:left;width:100%;margin:0 0 10px}
.wt-nativeholder .wt-howswork .wt-sectiontitle h2,.wt-nativeholder .wt-howswork .wt-sectiontitle h3{font-size:30px}
.wt-nativeholder .wt-howswork .wt-sectiontitle{margin:0 0 10px}
.wt-sc-latest-articals .wt-articlesholder{margin:-15px 0 ;}
.wt-sc-latest-articals .wt-articlesholder > .col-12{margin: 15px 0;}
.wt-sc-latest-articals{margin-top:0}
.wt-topfreelancers>.col-12:nth-child(n+3),.wt-workprocess>div>.col-12:nth-child(n+3){margin-top:30px}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{min-width:225px}
.wt-bannerholdervtwo .wt-formbanner fieldset .form-group .form-control{padding-right:400px}
.wt-bannerholdervtwo .wt-formoptions .wt-radioholder{width:225px}
.woocommerce .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label label{margin:0}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:0;text-align:left}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:0;padding-bottom:0}
.grouped_form .woocommerce-grouped-product-list .type-product{display:grid}
.wt-respsonsive-search .wt-searchbtn{width:42px}
.wt-blog-slider .owl-item .wt-singleimg-one img{margin:0;height:300px;width:auto}
.blog-list-view-template .wt-article figure a{overflow:hidden}
.wt-tagsshare .wt-blogsocialicons{padding:0;float:left;width:100%;margin:10px 0 0}
.wt-greetingcontent{padding:0}
.wt-projectdetail-holder{margin-bottom:30px}
.wt-sc-by-categories,.wt-sc-by-location{margin-top:20px}
.wt-companysinfo .wt-postarticlemeta li{padding:0 12px}
.wt-companysdetails .wt-companysinfo{padding:0 30px 30px}
.footer-link-2{padding:0}
.wt-sc-banner>.row>div.col-12:first-child{display:none}
.wt-cattitle h3{line-height:24px}
.wt-teamfilter .wt-sectionhead{width:100%;padding:0 0 48px}
.wt-teamholder{width:33.33%}
.wt-navigation ul li .sub-menu li a,.wt-navigation ul li .sub-menu li .sub-menu li a{margin:0;padding:15px 30px!important}
.wt-navigation ul li .sub-menu li .wt-dropdowarrow,.wt-navigation ul li .sub-menu li .sub-menu li .wt-dropdowarrow{top:9px}
.wt-dropdowarrow{top:14px}
.wt-navigation ul li:first-child .sub-menu li:first-child .sub-menu li:first-child a{border-top:1px solid #ddd}
.wt-userlistingsingle .wt-description{text-align:center}
.wt-clientfeedback .wt-userlistingcontent{float:left;width:100%;text-align:center}
.wt-clientfeedback .wt-userlisting-breadcrumb li{margin:5px 0}
.wt-userlistingsingle .wt-userlistingimg{float:none;width:80px;margin:0 auto 30px}
.wt-userprofile{padding:0}
.wt-userprofileholder .wt-proposalhead{text-align:center;padding:0}
.wt-userprofile figure{width:255px;float:none;margin:0 auto 30px}
.wt-userprofile .wt-title{margin-bottom:30px}
.wt-userlisting .wt-userlistingcontent{float:left;width:100%}
.wt-contenthead{width:100%;max-width:none}
.wt-clicksavebtn{padding:0 40px}
.wt-comsingleimg figure{overflow:hidden}
.wt-comsingleimg figure img{width:auto;height:300px;max-width:none;margin-left:-210px}
.wt-userlistingholder .wt-pagination ul li a{width:40px;height:40px;line-height:38px}
.wt-video figure img{width:auto;height:300px;max-width:none}
.wt-video figure,.wt-articlessingleone{overflow:hidden}
.wt-articlessingleone img{height:300px;max-width:none;margin-left:-200px;width:auto}
.wt-articlesingle-content .wt-postarticlemeta li{margin:5px 0}
.wt-articlesingle-content .wt-description .wt-blockquotevone{padding:0 90px 23px}
.wt-articlesingle-content .wt-title h2{font-size:24px}
.wt-classicaricle-holder .wt-article figure,.wt-articlelist .wt-article figure{overflow:hidden}
.wt-classicaricle-holder .wt-article figure img,.wt-articlelist .wt-article figure img{width:100%;height:auto;}
.wt-comingsoon-holder:before{left:30px}
.wt-comingsoon-holder:after{right:30px}
.wt-howtoworkimg{margin-top:15px}
.wt-radioboxholder{width:100%}
.wt-radioboxholder+.wt-radioboxholder{margin-top:20px}
.wt-headervtwo .wt-navigationarea .wt-rightarea{width:100%}
.wt-headervtwo .wt-rightarea .wt-nav{float:left}
.wt-formhelpsearch .form-group .form-control{max-width:370px}
.wt-dropdowarrow{display:block}
.wt-nav{width:auto;float:right}
.wt-navigation{top:100%;left:0;background:#fff;position:absolute;border-radius:0 0 4px 4px;-webkit-box-shadow:0 20px 20px 0 rgba(0,0,0,0.25);box-shadow:0 20px 20px 0 rgba(0,0,0,0.25)}
.wt-navigation ul li{width:100%;float:left;display:block;padding:8px}
.sub-menu,.mega-menu{clear:both;float:left;display:none;position:static;width:100%!important}
.wt-appicon li figure{width:150px}
.wt-bannerholder .row>div.col-12{display:none}
.wt-categorycontent:hover .wt-categoryslidup{bottom:14%}
.wt-categorycontent:hover .wt-cattitle{top:18%;padding:0}
.wt-bannercontent{padding:20px 0}
.wt-bannerhead{text-align:center}
.wt-videoholder{width:auto;margin:0 auto;float:none}
.wt-companycontent{padding:30px 20px}
.wt-nav .navbar-toggler{
	width: 100%;
	height: 40px;
	padding: 8px;
	border-radius: 4px;
	background: #F6D9BF29;
	font-family: Work Sans;
	font-size: 16px;
	font-weight: 600;
	display: flex;
	align-items: center;
	color: #FFFFFF;
	justify-content: center;

}
	.main-btn{
		width: 50%;
	}
.wt-nav .navbar-toggler img{
	width: 24px;
	height: 24px;
}
.wt-navigation>ul>li>a{margin: 0;text-align: center;display:block}
.wt-navigation>ul{text-align:left}
.wt-navigation>ul>li>a:after{display:none}
.sub-menu{box-shadow:none}
.wt-headervfour .wt-navigation>ul>li>a{padding:15px 13px}
.sub-menu{display:none;opacity:1;visibility:visible}
.navbar-nav .wt-notificationicon>a:after{right:50px}
.wt-usernav ul li .sub-menu{opacity:0;display:block;visibility:hidden;position:absolute}
.wt-greetingvideo{margin-top:30px;padding:0}
.wt-usernav ul li .wt-dropdowarrow{display:none}
.wt-codescanholder{margin:30px 0 0}
.wt-skills-users .wt-pagination ul li{margin:3px}
.woocommerce form .form-row-first,.woocommerce form .form-row-last,.woocommerce-page form .form-row-first,.woocommerce-page form .form-row-last{width:100%}
.woocommerce ul.order_details li{border:0;margin:0;width:100%;padding:10px 0;border-bottom:1px solid #ddd}
.woocommerce ul.order_details li:last-of-type{padding-top:10px}
.woocommerce-account .woocommerce-MyAccount-navigation{width:100%;margin-bottom:30px}
.woocommerce-account .woocommerce-MyAccount-content{width:100%}
.wt-nav .navbar-toggler{margin-left:0}
.wt-navigation ul li.page_item_has_children ul li:first-child a{border:0}
.wt-navigation>ul>li>.sub-menu>li:first-child>a{border:0}
.wt-respsonsive-search{margin-left:0}
.wt-search-have.show-sform .wt-formbannervtwo .form-group .wt-formoptions .wt-searchbtn i{display:inline-block}
.wt-search-have.show-sform .wt-formbannervtwo .form-group .wt-formoptions .wt-searchbtn span{display:none}
.wt-search-have.show-sform .wt-formbannervtwo .wt-searchbtn{min-width:auto}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{min-width:500px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-right:280px}
.sub-menu.mega-menu-row>li .wt-dropdowarrow{display:none}
.sub-menu.mega-menu-row>li ul{display:block!important}
.mega-menu .mega-menu-row>.mega-menu-col .sub-menu>li:first-child>a{border-top:1px solid #ddd}
.sub-menu.mega-menu-row>li{width:100%;float:left;padding:0}
.mega-menu .mega-menu-row .sub-menu li a{padding:15px 35px;border-top:1px solid #ddd}
.mega-menu .mega-menu-row>.mega-menu-col>a:before{display:none}
.mega-menu .mega-menu-row>.mega-menu-col a.fa{margin:0;line-height:inherit}
.mega-menu .mega-menu-row>.mega-menu-col>a{margin:0;padding:15px 30px!important}
.mega-menu .mega-menu-row>.mega-menu-col a{font-size:14px}
.mega-menu .mega-menu-row>.mega-menu-col+.mega-menu-col{border:0!important;border-top:1px solid #ddd!important}
.mega-menu .mega-menu-row>.mega-menu-col a:before{display:none}
.wt-navigation ul li .sub-menu li .sub-menu li a{padding:15px 40px!important}
.wt-overallrating{text-align:left}
.wt-clientfeedback .wt-userlistingsingle .wt-userlistingimg{position:static;margin-bottom:20px}
.wt-clientfeedback .wt-userlistingsingle .wt-userlistingimg+.wt-userlistingcontent{
	padding-left:0;
	width: 100%;
	padding-top: 20px;
}
.wt-clientfeedback .wt-userlisting-breadcrumb li.wt-overallratingarea .wt-servicesrating li{margin:0}
.wt-headereleven .wt-navigation>ul>li{margin:0}
.wt-headereleven .wt-navigation>ul>.menu-item-has-children{padding:0}
.wt-headereleven .wt-navigation:not(.wt-categories-navbar)>ul>li>a,
.wt-headereleven .wt-navigation>ul>li.current-menu-item>a{color:#767676}
.wt-headereleven .wt-navigation>ul>li>a{padding:15px 13px;color:#767676}
.wt-headereleven .wt-navigation>ul>li:hover>a{color:#767676}
.wt-headereleven .wt-navigation>ul>li .sub-menu{padding:0}
.wt-headereleven .wt-navigation ul li .sub-menu{border-top: 0;border-radius:0}
.wt-headereleven .wt-navigation ul li .sub-menu li a{border-top:1px solid #ddd}
.wt-headereleven .wt-navigation ul li .sub-menu li{margin:0}
.wt-headereleven .wt-navigation>ul>.menu-item-has-children:after{display:none}
.wt-headereleven .sub-menu li.menu-item-has-children>a:before,.wt-headereleven .wt-navigation>ul>li>.sub-menu:before{display:none}
.wt-headereleven .wt-navigation ul li .sub-menu{transition:none}
.wt-sc-explore-categories-v2>div>div+div{margin-top:30px}
.wt-mobapp-img{display:none}
.wt-packages-wrap .wt-packagetwo{margin-top:30px}
.wt-packages-wrap .wt-switcharea{margin-bottom:0}
.wt-bannercontentseven.wt-bannercontent .wt-title h1{font-size:30px}
.wt-bannercontentseven.wt-bannercontent .wt-title h1 span{font-size:44px}
.wt-footerthreevtwo{background-size:100%}
.wt-joininfotwonew.wt-joininfotwo .wt-formnewslettervtwo .form-group label{padding-top:0}
.wt-footertwo .wt-footerlogohold{margin:0 0 10px;padding-bottom:30px;border-bottom:1px solid rgba(255,255,255,0.20)}
.wt-footertwo .wt-footercol{margin-top:20px}
.wt-footer-bg:before{clip-path:none}
.wt-headereleven .wt-dropdowarrow,.wt-headereleven .wt-nav .navbar-toggler{background:var(--terthemecolor)}
.wt-headereleven .wt-respsonsive-search {margin: 30px 0 30px 20px;}
}
@media (max-width: 800px) and (min-width: 576px) {
	.wt-moredetailsholder .wt-withdraw-bl.wt-insightsitem .wt-userlistingimg{display: none;}
	.wt-moredetailsholder .wt-insightsitem.wt-withdraw-bl{
		align-items: flex-start;
		flex-direction: column;
		justify-content: center;
	}
	.wt-moredetailsholder .wt-withdraw-bl .wt-btnarea{margin: 20px 0 0;}
	.wt-moredetailsholder .wt-insightsitem.wt-withdraw-bl{padding: 30px;}
}
@media(max-width:800px){
	.wt-search-items li{width: 50%;}
.wt-notify-listwarap table thead tr th:nth-child(2), .wt-notify-listwarap table tbody tr td:nth-child(2){padding-left: 20px;}
.wt-categoryvthree li:nth-child(3){border-top:0}
#wpcomm .wc-comment .wc-comment-left .avatar{margin:10px 20px!important}
#wpcomm .wc_comm_form.wc_main_comm_form .wc-field-textarea .wpdiscuz-textarea-wrap textarea{padding:18px 20px 0 20px}
.wt-categoryvthree li{width:50%}
.wt-categoryvthree li:nth-child(3)>div,.wt-categoryvthree li:nth-child(3),.wt-categoryvthree li:nth-child(6)>div,.wt-categoryvthree li:nth-child(6){border-radius:0}
.wt-categoryvtwo li:nth-child(2)>div,.wt-categoryvtwo li:nth-child(2){border-radius:0 10px 0 0}
.wt-joininfotwo .wt-formnewslettervtwo .form-group{width:100%}
.wt-joininfotwo .wt-formnewslettervtwo .form-group .form-control{width:100%;min-width:auto}
.wt-joinnow-img img{height:100%;object-fit:cover}
}@media(max-width:782px){body.logged-in.admin-bar .workreap-header-v2{top:46px}
}@media(max-width:768px){.header-variation-six .wt-innerbannerholder{height:auto;min-height:400px}
.wt-bannerholderthree .wt-formbanner fieldset .form-group .form-control{border-bottom:0}
.wt-bannerholderthree .wt-formoptions .wt-dropdown{padding-right:155px}
.wt-bannercontentseven .wt-formbanner fieldset .form-group .form-control{padding-right:20px;border:0;border-radius:4px 4px 0 0}
.wt-bannercontentseven .wt-formoptions .wt-dropdown{width:100%;padding-right:160px}
.wt-bannercontentseven .wt-formoptions{float:left;width:100%;position:relative;background:#fff;border-top:1px solid #ddd;border-radius:0 0 4px 4px}
.header-variation-two .wt-header .wt-logo a img:first-child{display:none}
.header-variation-two .wt-header .wt-logo .transparent_v2{margin:0}
.wt-sticky .wt-header{position:relative;box-shadow:none}
.woocommerce-page div.product div.entry-summary{width:100%}
.wt-description h2{font-size:22px}
.wt-bannerholdervtwo .wt-bannercontent .wt-description{padding:0}
.wt-bannerholdervtwo .wt-formoptions{float:left;width:100%;position:static;background:#fff;border-top:1px solid #ddd;border-radius:0 0 4px 4px}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{border:0;width:100%}
.wt-bannerholdervtwo .wt-formbanner fieldset .form-group .form-control{padding-right:20px;border-radius:4px 4px 0 0}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{padding-right:170px}
.wt-bannercontentseven .wt-formoptions .wt-searchbtn{right:0;bottom:0;position:absolute;border-radius:0 0 4px 0}
.grouped_form .woocommerce-grouped-product-list .type-product{display:table-row}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:10px;text-align:right}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:1.5em;padding-top:10px}
.wt-bannercontentseven .wt-formoptions .wt-dropdown{border:0}
.header-variation-six .wt-innerbannerholder .wt-bannercontent{padding-bottom:0}
}@media(max-width:767px){
	.clear-filters-wrap{padding:30px;}
	.wt-latestjob-head{flex-wrap: wrap;}
	.wt-latestjob-right{margin:16px 0 0 0;text-align:left;width:100%}
	.wt-articletwo-wrap .wt-searcharea .wt-formtheme{
		flex-wrap: wrap;
		align-items: flex-start;
	}
	.wt-articletwo-wrap .wt-searcharea .wt-navarticletab{width: 100%;}
	.wt-articletwo-wrap .wt-searcharea .wt-formsearch fieldset{
		margin: 10px 0 0 ;
	}
	.wtbody-white .wt-servicesingle-holder{
		margin: 0;
	}
	.notify-wrap-start{
		right: -100px;
	}
	.wc-register_single,
	.wc-login .wt-registertabcontent{margin: 80px 0;padding-right: 15px;padding-left: 15px;}
	.wt-notify-listwarap table thead tr th:first-child, .wt-notify-listwarap table tbody tr td:first-child{max-width: 100%;}
	.wt-freelanceplatform > div.wt-community,
	.wt-freelanceplatform > div.wt-communityvideo{width: 100%;}
	.wt-sectiontitletwo h2{
	    font-size: 28px;
	    line-height: 38px;
	}
	.wt-sectiontitletwo p{
		font-size: 16px;
		line-height: 26px;
	}
	.wt-homebannerv3 .wt-homebanner__title p{
		font-size: 16px;
		line-height: 26px;
	}
	.wt-homebannerv3 .wt-homebanner__title h1{font-size: 34px;line-height: 42px;}
	.wt-homebannerv3 .wt-homebanner__title h1 span{font-size: 24px;}
	.wt-homebannerv2 .wt-formbanner fieldset .form-group .form-control{
		padding-right: 60px;
		border-radius: 4px 4px 0 0;
	}
	.wt-homebannerv3 .wt-formbanner fieldset .form-group .form-control{border-radius: 35px 35px 0 0;}
	.wt-homebannerv2 .wt-formbanner .wt-formoptions{
		width: 100%;
		position: relative;
		background: #fff;
		border-top: 1px solid #ddd;
		border-radius: 0 0 4px 4px;
	}
	.wt-homebannerv3 .wt-formbanner .wt-formoptions{border-radius: 0 0 35px 35px;}
	.wt-homebannerv3 .wt-formbanner .wt-btnthree,
	.wt-homebannerv2 .wt-formbanner .wt-btnv2{
		width: 100%;
		margin: 0;
		border-radius: 0 0 4px 4px;
	}
	.wt-homebannerv2 .wt-formbanner .wt-dropdown{
		right: 0;
		padding: 0;
		top: -65px;
		position: absolute;
	}
	.wt-formfocus{display: none;}
	.wt-populartags{padding-right: 0;}
	.wt-homebannerv2 .wt-dropdown > span{
		width: 100%;
		display: flex;
	}
	.wt-homebannerv2 .wt-dropdown > span em{width: 100%;}
	.wt-homebannerv2 .wt-radioholder{
		width: 100%;
		-webkit-box-shadow: 0 10px 20px 0 rgb(0 0 0 / 16%);
		box-shadow: 0 10px 20px 0 rgb(0 0 0 / 16%);
	}
	.wt-homebannerv3 fieldset .form-group{border-radius: 4px;}
	.wt-homebannerv3 .wt-formbanner fieldset .form-group .form-control{border-radius: 4px 4px 0 0;}
	.wt-homebannerv3 .wt-formbanner .wt-formoptions{border-radius: 0 0 4px 4px;}
	.wt-servicesingle-holder,
	.wt-clientfeedback{margin: 0 0 30px;}
	.wt-servicesingle-holder .wt-clientfeedback{margin: 30px 0 0;}
.wt-articlelist .wt-paginationvtwo{
	margin: 0;
}
.wt-bannerholdervthree .wt-bannerthree-content{padding:0; }
.wt-bannerholdervthree .wt-bannercontent-wrap{
	display: flex;
	align-items: center;
	padding: 116px 0 20px;
}
.wt-sidebar.page-dynamic-sidebar{margin: 0 0 30px;}
.wt-without.wt-joinnowpopup .modal-dialog{max-width: 500px;}.wt-without .wt-joinnowfooter-wrap {width: 100%; left: 0;}.wt-bannercontentseven.wt-bannercontent .wt-title h1 span{font-size:40px}
.wt-bannerholdervthree:before,.wt-home-slider{clip-path:none}
.wt-bannerthree-title{display:none}
.wt-bannerthree-form{width:100%}
.wt-servicesslider figure img{min-height:300px;object-fit:cover;object-position:center}
.wt-portfoliosingle .wt-servicesgallery{max-width:100%;padding:0 30px}
.search-result-template .wt-twocolumns .wt-sidebar form[name*="serach-projects"]{margin-bottom:0}
.four-column-holder .wt-freelancers-details .wt-freelancers-img{margin:0 15px 0 0!important}
.four-column-holder .wt-freelancers-details .wt-freelancers-content{float:none;padding:0;width:auto}
form[name*="serach-projects"] .wt-widget{width:100%}
.workreap-header-v4 .wt-userlogedin .wt-username h3,.workreap-header-v4 .wt-userlogedin .wt-username span{max-width:140px}
.wt-popupcontentstep .wt-description{padding:0}
.wt-popupcontentstep h3{margin:0 0 6px;font-size:22px;line-height:1.3}
.wt-registration-parent-model .modal-dialog{max-width:630px}
.wt-workvideo-img:before,.wt-workvideo-img:after{top:0}
.wcv-dashboard-navigation ~ table.table-vendor-sales-report thead tr,.wcv-dashboard-navigation ~ form p input.date-pick{margin:0 0 10px}
.pv_paypal_container ~ table tr{display:grid}
.wt-footercol{margin-top:20px}
.wt-prjoect-categories{margin:0 0 30px}
.search-result-template .wt-twocolumns .wt-sidebar>form>.wt-widget:last-child{margin:0}
.wt-services-content .services-wrap .col-12:nth-child(n+2){margin-top:30px}
.wt-workdetails .wt-title h3{font-size:22px}
.wt-workprocess>div>.col-12:nth-child(n+2){margin-top:30px}
.post-password-form p label{display:block}
.post-password-form p input[type=submit]{margin:20px 0 0}
.wt-articlesingle-content .wt-postarticlemeta{display:block}
.wt-btn-remove-holder .wt-search-remove:first-child{display:none}
.wt-btn-remove-holder .wt-search-remove+.wt-search-remove{display:block}
.wt-btn-remove-holder{top:0;right:0;display:block;position:absolute}
.wt-search-have.show-sform .wt-formbannervtwo{right:0;width:100%;padding:13px 20px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{width:100%;min-width:auto}
.wt-search-have.show-sform .wt-formbannervtwo fieldset{padding-right:30px}
.wp-block-cover.wp-block-cover.alignleft{margin-right:0;max-width:100%}
.wt-articlelist .wt-article-holder .wt-article:last-child{margin-bottom:45px}
.wt-terms-pages{margin-bottom:30px}
.wt-formleavecomment fieldset .form-group.form-group-half{width:50%}
.wt-categorycontent:hover .wt-categoryslidup{bottom:20%}
.wt-categorycontent:hover .wt-cattitle{top:20%}
.blog-list-view-template .theme-nav{margin-bottom:30px}
.wt-userlistingholder .wt-comcontent{margin-top:30px}
.wt-totalamount li span{float:none;display:block}
.search-result-template .wt-twocolumns .wt-sidebar{margin-bottom:30px}
.wt-sidebar>form>.wt-widget:last-child{margin:0 0 30px}
.wt-experienceholder{margin-top:30px}
.wt-teamholder{width:50%}
.wt-categoriesslider-holder .wt-title{width:250px}
.wt-categoriesslider{padding-left:250px}
.wt-usersidebar{display:none}
.wt-usersidebaricon{display:block}
.wt-userlisting .wt-userlistingcontent .wt-rightarea{margin-bottom:0}
.wt-navarticletabvtwo li{padding:0}
.wt-navarticletab.wt-navarticletabvtwo li a{padding:0 25px}
.wt-articlesingle-content .wt-tagsshare .wt-tag a{margin:5px}
.wt-articlesingle-content .wt-blogdetailimgvtwo{margin:0;width:100%}
.wt-articlesingle-content .wt-description .wt-blockquotevone q{float:left;width:100%}
.wt-articlesingle-content .wt-description .wt-blockquotevone{font-size:18px;padding:0 0 23px}
.wt-navarticletab li a{padding:10px 25px}
.wt-comingsoon-logo{max-width:150px}
.wt-copyrights.wt-comingsoon-wt-copyrights{float:left}
.wt-registerhead{padding:0}
.wt-totalamount li h3{margin-bottom:10px}
.wt-userlisting-breadcrumb li{margin:5px 0}
.wt-proposalhead h2{font-size:22px;line-height:24px}
.wt-formhelpsearch .form-group .form-control{max-width:none;border-radius:4px 4px 0 0}
.wt-formhelpsearch .form-group .wt-btnsearch{width:100%;border-radius:0 0 4px 4px}
.wt-footeraboutus .col-12:nth-child(n+3){margin-top:20px}
.wt-companyinfohold{background:#fff}
.wt-companyinfohold:before,.wt-companyinfohold:after{display:none}
.wt-companydetails .wt-companycontent+.wt-companycontent:before{left:0;top:-5px;width:100%;height:10px}
.wt-companycontent{width:100%}
.wt-categoryexpl>.float-left:nth-child(n+3){margin-top:30px}
.wt-companyinfotitle h2{font-size:22px;line-height:28px}
.wt-widgetcompany{padding:0;border:0}
.wt-footerlogohold{margin:0 0 10px;padding-bottom:30px;border-bottom:1px solid rgba(255,255,255,0.20)}
.wt-copyrights{float:none;line-height:20px;text-align:center;margin-bottom:10px}
.wt-addnav{width:100%;text-align:center}
.wt-addnav ul li{float:none;display:inline-block;vertical-align:middle}
.wt-jobalerts .alert{padding:20px 50px 20px 20px}
.wt-jobalerts .alert span{padding:0 0 10px}
.wt-jobalerts .wt-alertbtn{float:left}
.wt-skills-users{margin-bottom:30px}
.wt-skills-users .wt-userlistingcontent>.wt-rightarea{margin-bottom:20px}
.woocommerce-checkout .woocommerce .col2-set .col-1,.woocommerce-checkout.woocommerce-page .col2-set .col-1,.woocommerce-checkout .woocommerce .col2-set .col-2,.woocommerce-checkout.woocommerce-page .col2-set .col-2,.woocommerce .col2-set .col-1,.woocommerce-page .col2-set .col-1,.woocommerce .col2-set .col-2,.woocommerce-page .col2-set .col-2{width:100%}
.woocommerce #payment #place_order,.woocommerce-page #payment #place_orde{padding:0 10px;margin-bottom:0}
.woocommerce-column--shipping-address{margin-top:20px}
.woocommerce-cart table.cart td.actions .coupon .input-text{width:100%}
.woocommerce-cart table.cart td.actions .coupon .button{width:100%;margin:20px 0}
.wt-freelancer-search .wt-userlisting .wt-userlistingcontent .wt-rightarea{margin-bottom:20px}
.wt-categoriesslider-holder .wt-title h2{line-height:24px}
.wt-comments li .children,.wt-comments li .sub-menu{padding-left:25px}
.single-freelancers .wt-education{margin:0 0 30px}
.wt-taskpopup .modal-dialog{max-width:560px}
.wt-popupradio,.wt-selectprice{width:100%}
.wt-popupradio{margin:0 0 20px}
.wt-popupradioholder{display:block}
.wt-taskbudget .wt-taskcontent{padding:0}
.mmobile-floating-apply{display:block}
.wt-filter-scroll{top:0;right:0;width:380px;height:100%;z-index:100;position:fixed;background:#fff;-moz-transform:translateX(150%);-webkit-transform:translateX(150%);-o-transform:translateX(150%);-ms-transform:translateX(150%);transform:translateX(150%);-webkit-transition:all .6s ease-in-out;-moz-transition:all .6s ease-in-out;-ms-transition:all .6s ease-in-out;-o-transition:all .6s ease-in-out;transition:all .6s ease-in-out;-webkit-box-shadow:-10px 0 20px 0 rgba(0,0,0,0.25);box-shadow:-10px 0 20px 0 rgba(0,0,0,0.25)}
.show-mobile-filter .wt-filter-scroll{-webkit-transform:translateX(0);-moz-transform:translateX(0);-ms-transform:translateX(0);-o-transform:translateX(0);transform:translateX(0)}
.wt-filter-scroll form[name*="serach-projects"]{width:100%;height:100%;overflow-x:scroll;position:relative}
.wt-filter-scroll form[name*="serach-projects"]::-webkit-scrollbar{display:none}
.show-mobile-filter .floating-mobile-filter{top:0;left:0;width:100%;height:100%;z-index:9999;position:fixed;background:rgba(0,0,0,0.4)}
.wt-mobile-close{display:block}
.logged-in.admin-bar .workreap-header-v4{margin-top:46px}
.wt-packages-wrap [class^='col-']:nth-child(n+3) .wt-packagetwo{margin-top:30px}
.wt-joininfotwonew.wt-joininfotwo .wt-formnewslettervtwo .form-group{width:100%}
.wt-joininfotwonew .wt-formnewslettervtwo .form-group .form-control{width:100%;min-width:auto}
.header-variation-six .wt-innerbannerholder .wt-bannercontentseven .wt-btn-remove-holder{display:none}
.wt-joinnow-img{display:none}
.wt-joinnowpopup-wrap{padding-left:30px}
.wt-joinnowfooter-wrap{width:calc(100% - 30px);left:15px}
.wt-joinnowfooter{border-radius:0 0 4px 4px}
}@media(max-width:720px){.wt-headervfour .wt-headersearch .wt-loginformhold{width:280px}
.wt-headervtwo .wt-nav .navbar-toggler{margin-left:0}
.wt-formbannervtwo{width:100%;padding-left:0;margin:0 0 10px}
.wt-formbannervtwo:after{display:none}
.wt-headervtwo .wt-navigationarea .wt-logo{border:0;padding:0;float:none;width:105px;display:block;margin:20px auto 20px}
}@media(max-width:640px){
	.wt-registration-parent-model .modal-dialog{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.wt-registration-parent-model .wt-registerformmain{
	    padding: 30px 15px;
	}
	.wt-tasksdates,
	.wt-invoicetasks{
		flex: 0 0 100%;
		justify-content: flex-start;
	    text-align: left;
	    align-items: flex-start;
	}
	.wt-tasksdates{margin: 10px 0 0;}
	body.home .wt-header-v6{margin-bottom: -132px;}
	.wt-header-v6 .wt-navigationarea .wt-logo{
		width: 100%;
		height: auto;
	}
	.wt-header-v6 .wt-rightarea{
		width: 100%;
	}
	.wt-header-v6 .wt-navigationarea{
		padding-top: 20px;
	}
	.header-variation-six .wt-innerbannerholder.wt-titlebardynmic{
		padding: 160px 0 30px;
	}
	.wt-header-v6.wt-headereleven{
		margin-bottom: -130px;
	}
	.wt-header-v5.wt-headereleven .wt-navigationarea .wt-logo{
		width: auto;
	}
	.notify-wrap-icon{padding:18px 10px;}
	.wt-header-v5.wt-headereleven .wt-userlogedin{padding: 0;}
	.wt-header-v5.wt-nav+.wt-userlogedin.sp-top-menu{margin-left: 0;}
.avatar-wrap-icon{padding:19px 10px; }
.wt-homebanner-transparent.wt-homebanner-wrap{
	margin-top: 0;
}
.wt-homebanner-wrap{margin-top: -50px;}.wt-headereleven .wt-nav .navbar-toggler{margin:20px 0}
.wt-headereleven {margin-bottom: -76px;}
.header-variation-six .wt-innerbannerholder.wt-titlebardynmic {padding-top: 76px;}
.wt-headereleven .wt-navigationarea .wt-logo{
	margin: 0;
}
.wt-homebannerseven{padding-top:143px}
.wt-headereleven .wt-userlogedin{margin:0;padding:20px 0 19px 20px}
.wt-height-increased-100 .wt-btnmenutoggle{top:150px}
.wt-headersearch .wt-loginformhold{right:auto;margin-right:0;left:0}
.wt-innerbannerholder .wt-title h1{font-size:30px}
.header-variation-four .wt-innerbannerholder{padding-top:135px}
.workreap-header-v4 .wt-headersearch{margin-left:6px}
.wt-sc-slider{padding-top:135px}
.wt-headernine .wt-nav .navbar-toggler{margin-right:0}
.wt-headernine .wt-headeroptions .wt-userlogedin{padding:0}
.wt-headernine .wt-navigationarea .wt-logo{border:0;padding:0}
.wt-headervfour .wt-navigationarea .wt-logo{margin-bottom:0;max-width: 100%;}
.wt-headervfour .wt-userlogedin{padding: 3px 0;}
.wt-headervfour .wt-headersearch{margin-top:20px;margin-bottom:20px}
.wt-headervfour .wt-nav .navbar-toggler{margin:23px 0 23px 0}
body.admin-bar .wt-headervfour .wt-nav{float:right}
body.admin-bar .wt-headervfour .wt-nav .navbar-toggler{margin:20px 20px 20px 10px}
body.admin-bar .wt-headervfour .wt-headersearch{margin:17px 0}
.wt-headervfour{padding:0}
.wt-headervfour .wt-headersearch{margin-left:0}
.wt-headervfour .wt-headersearch .wt-loginformhold{right:auto;left:0}
.wt-headervfour .wt-nav{float:left;padding:0}
.wt-bannerholderthree{height:700px}
.wt-bannerimg img{max-width:none;width:auto!important}
.header-variation-two .wt-headervthhree{margin:0}
.header-variation-two .wt-header .wt-logo{width:129px;height:auto;display:block;margin:20px auto 10px}
.header-variation-two .wt-logo .transparent_v2{margin:0}
.header-variation-two .wt-innerbannerholder .wt-innerbannercontent{padding-top:158px}
.wt-headervthhree{margin-bottom:-159px}
.admin-bar .wt-navigationarea .wt-logo{width:auto;float:left;margin:24px 0}
.admin-bar .wt-navigationarea .wt-rightarea{width:auto}
.wt-navigationarea .wt-rightarea .wt-userlogedin:before{display:none}
.wt-search-have.show-sform .wt-formbannervtwo{padding:13px 10px}
.wt-comingsoon-content .wt-title h2{font-size:30px;line-height:35px}
.wt-search-not .wt-rightarea,.wt-search-have .wt-rightarea{width:100%}
.wt-rightarea .wt-nav,.wt-respsonsive-search{float:left}
.wt-loginarea{border:0}
.wt-navigationarea .wt-logo{margin: 20px auto 10px;display: flex;justify-content: center;width: 100%;max-width: 100%;}
.wt-headervfour .wt-loginarea{margin:23px 0}
.wt-overallrating:before{-ms-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);margin:-4px -3px 0 0;top:100%;right:50%}
.wt-overallrating{top:auto;bottom:0;left:0;margin:0 0 5px -22px}
.wt-overallratingarea:hover .wt-overallrating{margin:0 0 10px -22px;bottom:100%}
.wt-headereleven .wt-loginarea{margin:20px 0 20px 20px}
.header-variation-six .wt-innerbannerholder{padding-top:143px;min-height:500px}
.wt-header-v5{margin-bottom:-130px}
.wt-bannerholdervthree .wt-bannercontent-wrap{padding-top:146px}
.wt-home-slider figure img{min-height:900px}
.wt-header-v5+.wt-innerbannerholder{padding:213px 0 20px}
.admin-bar .wt-headereleven .wt-navigationarea .wt-logo{height: auto;}
.wt-headereleven .wt-respsonsive-search{margin: 20px 0 20px 20px;}
	.wt-sc-shortcode .wt-joinnowpopup-wrap{padding: 30px;}
}@media(max-width:575px){
	.wt-bestservices-section .wt-freelancers figure {
		max-height: 200px;
	}
	.wt-header-v5 .wt-rightarea{
		width: 100%;
	}
	.wt-header-v5.wt-headereleven .wt-navigationarea .wt-logo{
		height: auto;
		margin: 20px 0 0;
	}
	.wt-header-v5.wt-headereleven {margin-bottom: -170px;}
	.wt-categorieslist ul li{width: 100%;}
	.wt-ourservices .ti-prev{left: 5px;}
	.wt-ourservices .ti-next{right: 5px;}
	.wt-community__footer{
		flex-direction: column;
		align-items: flex-start;
	}
	.wt-community__footer > span{margin: 10px 0 0;}
	.wt-headerv2 .wt-loginarea{
		position: absolute;
		left: 0;
		bottom: -43px;
	}
	.wt-headerv2 .wt-navigation{margin-top: 44px;}
	.wt-homebanner-transparent{padding-top: 231px;}
	.wt-moredetailsholder .wt-insightsitem.wt-withdraw-bl{
		justify-content: center;
		flex-direction: column;
	}
	.wt-moredetailsholder .wt-withdraw-bl.wt-insightsitem .wt-userlistingimg{margin: 0 auto 20px;}
	.wt-moredetailsholder .wt-withdraw-bl .wt-insightdetails{text-align: center;}
	.wt-moredetailsholder .wt-withdraw-bl .wt-btnarea{margin: 20px 0 0;}
	.wt-categoryvthree li:nth-child(2){border-top:0}
.wt-socials-profile .wt-userform .form-group{width:100%}
.wt-loginpopup .modal-dialog{margin-left:auto;margin-right:auto;padding-left: 15px;padding-right: 15px;}
.grouped_form .woocommerce-grouped-product-list .type-product{display:grid}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:0;text-align:left}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:0;padding-top:0}
.wt-topfreelancers>.col-12:nth-child(n+2){margin-top:30px}
.wt-categoriesslider-holder{border:0;border-bottom:1px solid #ddd}
.wt-proposalamount-holder .wt-formproposal .wt-formcategory .form-group-label .wt-labelgroup>span{display:block;margin:10px 0 0}
.wt-404errorcontent .wt-title h3{font-size:18px}
.wt-footeraboutus .col-12:nth-child(n+2){margin-top:20px}
.wt-categoryexpl>.float-left:nth-child(n+2){margin-top:30px}
.wt-categorycontent:hover .wt-cattitle{top:20%}
.wt-categorycontent:hover .wt-categoryslidup{bottom:20%}
.wt-sc-skill-location,.wt-footercol{margin-top:20px}
.wt-categoriesslider-holder .wt-title{border:0;width:100%;position:static;padding:30px 10px;border-bottom:1px solid #ddd}
.wt-categoriesslider-holder .wt-title h2{line-height:30px}
.wt-categoriesslider{padding:0}
.wt-categoryvthree li{width:100%}
.wt-categoryvthree li:first-child>div,.wt-categoryvthree li:first-child{border-radius:10px 10px 0 0}
.wt-categoryvthree li.wt-morecategory{border-radius:0 0 10px 10px}
.wt-categoryvtwo li:nth-child(2)>div,.wt-categoryvtwo li:nth-child(2),.wt-categoryvtwo li:nth-child(7)>div,.wt-categoryvtwo li:nth-child(7){border-radius:0}
.wt-latestjob-head{flex-wrap:wrap}
.wt-latestjob-footer .wt-widgettag{padding-right:0}
.wt-latestjob-footer{flex-direction:column;align-items:flex-start}
.wt-categoryvtwo{margin-top:-15px}
.wt-categoryvtwo li{width:100%}
.wt-categoryvtwo li:nth-child(odd){margin-top:0}
.wt-latestjob-footer .wt-btnarea{margin-left:0}
.wt-recentposted .wt-latestjob-logo{flex:none}
}@media(max-width:568px){
	.wt-search-items li,
	.wt-subtotalbill{width: 100%;}
	.wt-sumtotal{min-width: 100%;}
	.notify-wrap-start{width: 260px;right: -100%; }
	.modal-wrapper.styled .modal{width:100%}
.wt-servicesingle-title .wt-title h2{font-size:24px;line-height:32px}
.wt-profilecounter .wt-statisticcontent+.wt-statisticcontent{margin:0}
.wt-workvideo-img:after{width:100px;height:100px}
.wt-workvideo-img:before{height:90px;width:90px}
.wt-blogdetailimgvtwo figcaption span{line-height:20px;padding-top:7px;margin-bottom:18px}
.wt-formleavecomment fieldset .form-group.form-group-half{width:100%}
.wt-articlesingle-content .wt-description ul{line-height:20px}
.wt-breadcrumb{font-size:14px}
.wt-innerbannercontent .wt-breadcrumb{line-height:26px}
.wt-breadcrumb li{float:none;display:inline-block;vertical-align:middle}
.wt-userdetails .wt-description p{font-style:14px;line-height:24px}
.wt-emptydetails span{width:150px;height:150px}
.wt-emptydetails em{font-size:16px}
.wt-formbannervtwo fieldset .form-group .form-control{border:0;border-bottom:1px solid #ddd}
.wt-formoptions .wt-dropdown{width:100%;padding-right:60px}
.wt-formoptions .wt-dropdown>span{width:100%}
.wt-formoptions .wt-searchbtn{right:0;bottom:0;position:absolute;border-radius:0 0 4px 0}
.wt-statisticcontent{width:100%}
.wt-statisticcontent+.wt-statisticcontent{margin-top:20px}
.wt-joinnowholder .wt-description p{padding:0}
.wt-counterbox{width:50%;margin:10px 0}
.wt-comming-sooncounter li:nth-child(odd){border:0;padding-left:0}
.wt-formregister .wt-registerformgroup .form-group.form-group-half{width:100%}
.wt-formbannervtwo fieldset .form-group .wt-formoptions{border:0}
.wt-innerbannercontent .wt-title h2{font-size:30px;line-height:40px}
.wt-formoptions{float:left;width:100%;position:relative;background:#fff;border-top:1px solid #ddd;border-radius:0 0 4px 4px}
.wt-formbanner fieldset .form-group .form-control{padding-right:30px;border-radius:4px 4px 0 0}
.wt-dropdown{border-left:0}
.wt-bannerholdervtwo .wt-bannercontent .wt-title h1,.wt-bannercontent .wt-title h1{font-size:24px;line-height:30px}
.wt-bannerholdervtwo .wt-bannercontent .wt-title h1 span,.wt-bannercontent .wt-title h1 span{line-height:30px}
.wt-signupcontent .wt-title h2{font-size:40px;line-height:48px}
.wt-bannercontent .wt-bannerhead .wt-description p{font-size:16px;line-height:26px}
.wt-formbannervtwo .wt-searchbtn{border-radius:0 0 4px 0}
.woocommerce .woocommerce-ordering{float:left;width:100%;margin:20px 0}
.woocommerce div.product .woocommerce-tabs ul.tabs li{width:100%;border-radius:0}
.woocommerce div.product .woocommerce-tabs ul.tabs li+li{border-top:0}
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,.woocommerce div.product .woocommerce-tabs ul.tabs li:before{display:none}
.woocommerce div.product form.cart .button{padding:0 30px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .form-control{padding-right:30px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group{border:1px solid #ddd}
.wt-search-have.show-sform .wt-formbannervtwo fieldset .form-group .wt-formoptions .wt-dropdown{width:100%}
.wt-search-have.show-sform .wt-btn-remove-holder{top:50%;margin-top:-25px}
.wt-taskmodalcontent .modal-body{padding:30px 10px}
.post-job-detail .form-group.form-group-half{width:100%}
.wt-tabscontenttitle h2{width:100%}
.wt-tabscontenttitle h2+.wt-rightarea{float:left;margin-top:10px}
.wt-bannercontentseven.wt-bannercontent .wt-title h1{font-size:24px}
.wt-bannercontentseven.wt-bannercontent .wt-title h1 span{font-size:34px}
.wt-bannertitletwo .wt-breadcrumb{text-align:left}
.wt-bannercontentseven .wt-formbannervtwo fieldset .form-group .wt-formoptions{border-top:1px solid #ddd}
.header-variation-four .wt-sc-slider {padding-top: 200px;}

}@media(max-width:480px){
	.wt-quote-wrapper .wt-freelancers-content{width: 100%;padding: 10px 0 0 !important;}
	.wt-rcvproposalholder .wt-titlewithsearch .wt-formsearch .wt-searchgbtn, .page-template-dashboard .wt-rcvproposalholder #btn-change-status{margin: 0;}
	.wt-userimg {  max-width: 40px;	max-height: 40px;}
	.wt-userlogedin .wt-username{display: none;}
	.wt-userlogedin .wt-userimg{margin-right: 0!important;}
	.wt-projectwrap{
		padding-left: 0;
		padding-right: 0;
	}
	.wt-usernav>ul>li .wt-dropdowarrow i{
		display: block;
    	font-size: 12px;
	}
	.wt-searcharea .wt-navarticletab li label{padding: 5px 10px;}
	.wt-articletwo-wrap{padding:0 15px; }
	.wt-invoicebill{
		flex-wrap: wrap;
		flex-direction: column;
	}
	.wt-billno{margin: 10px 0 0;text-align: left;}
	.wt-header-v6.wt-headereleven .wt-navigationarea .wt-logo{
		margin: 0;
	}
	.wc-login .left-banner-empty .wt-joinnowpopup-wrap, .wc-register_single .left-banner-empty .wt-joinnowpopup-wrap{padding:50px 30px; }
	.wt-headerv2 .wt-logo{
		margin: 25px 0;
		width: auto;
		display: inline-block;
	}
	.wt-community,
	.wt-categories,
	.wt-appfeatures,
	.wt-markettrend__content .wt-cards__title,
	.wt-latestproject,
	.wt-servicesvtwo-list li,
	.wt-trendingblog figcaption{
		padding-right: 15px;
		padding-left: 15px;
	}
	.wt-homebannerv2 .wt-formbanner .wt-formoptions{flex-wrap: wrap;}
	.wt-homebannerv2 .wt-radioholder,
	.wt-community-list li{width: 100%;}
	.wt-homebannerv2 .wt-formbanner .wt-btnv2,
	.wt-homebannerv3 .wt-formbanner .wt-btnthree{
		width: 100%;
		margin: 0;
		border-radius: 0 0 4px 4px;
	}
	.wt-headerv2 .wt-navigationarea .wt-rightarea{width: auto;}
	.wt-projectinfo li{width: 100%;}
	.wt-appfeatures-section .wt-appfeatures{
		padding-right: 15px;
		padding-left: 15px;
	}
	.wt-servicesvtwo-list li{flex-wrap: wrap;}
	.wt-srvlist-icon{
		width: 100%;
		margin: 0 0 10px;
	}
	.emojionearea .emojionearea-picker,
	.emojionearea .emojionearea-picker .emojionearea-wrapper{width:300px;}
	.wt-clientfeedback .wt-userlistingsingle .wt-userlistingimg+.wt-userlistingcontent{padding: 0;}
	.wt-custom-withdraw .wt-insightsitem.wt-withdraw-bl{
		justify-content: center;
		flex-direction: column;
		align-items: flex-start;
		padding: 30px 20px;
	}
	.wt-custom-withdraw .wt-withdraw-bl.wt-insightsitem .wt-userlistingimg{margin: 0 0 20px;}
	.wt-accountsettingholder .wt-securityhold .wt-withdraw-bl .wt-btnarea{margin: 20px 0 0;}
.wt-comments .wt-boxtitle h2{line-height: 24px;}
.header-variation-six .wt-innerbannerholder.wt-titlebardynmic {
    padding-top: 156px;
    padding-bottom: 30px;
}
.wt-homebannerseven {min-height: 800px;}
.wt-headereleven .wt-navigationarea .wt-logo{
	height: auto;
	margin: 20px auto 10px;
}
.wt-headereleven {margin-bottom: -126.56px;}
.wt-without .wt-joinnowpopup-wrap{padding-left: 15px; }.wt-userprofileholder .wt-userdetails .wt-userlisting-breadcrumb li span,.wt-userprofileholder .wt-userdetails .wt-userlisting-breadcrumb li a{justify-content: center;}.wt-sectiontitlevtwo h2{font-size:26px}
.wt-joininfotwonew .wt-formnewslettervtwo .form-group .form-control{padding-right:20px}
.wt-proposalsrcontent.proposal-display-wrap>.wt-title{float:none;width:auto}
.wt-startsearch.wt-service-grids .wt-widgettitle h2{display:block}
.wt-startsearch.wt-service-grids .wt-widgettitle .dc-docsearch{float:left;margin-top:10px}
.wt-formlogin .form-group.wt-btnarea>span{padding:0;width:100%;margin:0 0 10px}
.wt-loginpopup .wt-modalcontentvtwo .modal-footer .wt-loginfooterinfo a{width:100%}
.wt-loginpopup .wt-modalcontentvtwo .modal-footer .wt-loginfooterinfo a+a{border:0;border-top:1px solid #eee}
.wt-popup-footerterms{padding:23px 10px}
.wt-formcategory .form-group.form-group-label label+span{display:block;margin-top:10px}
.wt-userlistingcontent .wt-servicesrating .wt-stars{float:left}
.wcv-dashboard-navigation ~ table.table-vendor-sales-report thead tr{display:grid}
.woocommerce ul.products[class*=columns-] li.product,.woocommerce-page ul.products[class*=columns-] li.product{width:100%}
.wt-nativeholder .wt-howswork .wt-sectiontitle h2,.wt-nativeholder .wt-howswork .wt-sectiontitle h3{font-size:22px;line-height:26px}
.wt-appicons li{width:100%}
.wt-appicons li+li{margin:30px 0 0}
.wt-appicons li a img{width:auto;margin:0 auto}
.woocommerce div.product form.cart .variations td.label{min-width:60px}
.woocommerce div.product form.cart table.variations td{text-align:left}
.grouped_form .woocommerce-grouped-product-list .type-product{display:grid;min-width:270px}
.woocommerce .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label label{margin:0}
.woocommerce div.product .entry-summary form.cart .group_table td:last-child{padding-top:0;text-align:left}
.woocommerce div.product .entry-summary form.cart .group_table td.woocommerce-grouped-product-list-item__label{padding-left:0;padding-bottom:0}
.wt-articlesingle-content .wt-description .wp-block-media-text{display:block}
.wt-articlesingle-content .wt-description .wp-block-media-text .wp-block-media-text__content{padding:20px 0 0}
.wt-proposalsicon{padding:0 15px 0 0;margin:0 15px 0 0}
.wt-proposalsrcontent .wt-title h3{word-break:break-all;font-size:20px}
.wt-proposalsicon{font-size:30px}
.wt-categoryslidercontent{border:0}
.wt-formproposal .form-group-label .wt-labelgroup>span{margin:10px 0 0}
.sticky-queue{width:300px}
.wt-barandslider .owl-item+.owl-item figure{border:0;padding:0}
.wt-pagination ul li a.wt-nextpage,.wt-pagination ul li a.wt-nextpage,.wt-pagination ul li a i{font-size:12px}
.wt-teamholder{width:100%}
.wt-experiencecontent .wt-userlisting-breadcrumb li{width:100%;padding:0;border:0}
.wt-userlistingcontent .wt-stars{float:none;width:80px;margin:0 auto}
.wt-userprofileholder .wt-userdetails .wt-userlisting-breadcrumb li{padding:0;width:100%}
.wt-userprofileholder .wt-userdetails .wt-userlisting-breadcrumb li+li{border:0}
.wt-proposalholder .wt-userlisting-breadcrumb li{border:0;padding:0;width:100%;text-align:left}
.wt-userlistingholder .wt-pagination ul li{float:left}
.wt-pagination ul li span.post-page-numbers,.wt-userlistingholder .wt-pagination ul li a{width:30px;height:30px;float:left;line-height:28px}
.wt-articlesingle-content .wt-postarticlemeta li{width:100%;float:left;border:0;text-align:left;padding:0}
.wt-authorcontent{width:100%;float:left}
.wt-comments .children{padding-left:20px}
.wt-formleavecomment fieldset .form-group{width:100%}
.wt-tagsshare .wt-blogsocialicons li{padding:0 7px}
.wt-pagination ul li.wt-nextpage,.wt-pagination ul li{float:left}
.woo-pagination ul li span,.wt-pagination ul li a,.wt-pagination ul li span{height:30px;width:30px;float:left;line-height:30px}
.wt-accordiontitle span,.wt-accordionhold li{line-height:22px}
.wt-registerhead .wt-title h3{font-size:20px;line-height:24px}
.wt-joinsteps li{width:50%;margin:5px 0;float:left}
.wt-joinsteps li+li:after{left:-15px}
.wt-joinsteps li:nth-child(odd):after{display:none}
.wt-joinsteps li a{margin:0 auto}
.wt-titlebar h2{font-size:22px;line-height:24px}
.wt-signupcontent{padding:49px 0}
.wt-signupcontent .wt-title h2{font-size:30px;line-height:38px}
.wt-signupcontent .wt-btnarea a{display:block}
.wt-signupcontent .wt-btnarea a+a{margin:20px 0 0}
.wt-signupcontent{padding-left:0}
.wt-usernav ul li .sub-menu{right:0;z-index:1}
.wt-usernav ul li:hover .sub-menu{top:100%}
.wt-loginformhold{width:300px;right:-110px}
.wt-boxright{width:100%;margin-top:20px}
.wt-logininfo .wt-checkbox{margin:0;width:100%;padding-bottom:0}
.wt-boxright .wt-btnreply{float:left}
.woo-pagination ul li a i{line-height:28px}
.wt-userlogedin.sp-top-menu .menu-item-has-children .sub-menu{transition: none; position:static;box-shadow:none;border-top:1px solid #eee;opacity:1;visibility:visible;display:none;background:#fcfcfc}
.wt-userlogedin.sp-top-menu .menu-item-has-children .wt-dropdowarrow{top:10px;display:block}
.wt-userlogedin.sp-top-menu .menu-item-has-children.wt-open:after{content:'\e874'}
.wt-popupactionbtn .wt-btn{width:100%}
.wt-popupactionbtn .wt-btn+.wt-btn{margin-top:10px}
.wt-header .do-login-form .wt-joinnowholder{padding:15px 20px;float:left;width:100%;text-align:left}
.wt-iconwithtext li a,.wt-iconwithtext{text-align:left}
.wt-iconwithtext li{float:left;margin:0;width:100%}
.wt-iconwithtext li+li{margin:10px 0 0 0}
.wt-latestjob-head{flex-direction:column;align-items:flex-start}
.wt-latestjob-logo+.wt-latestjob-title{margin:17px 0 0 0;width:100%;flex:0 0 100%}
.wt-latestjob-holder{padding-right:15px;padding-left:15px}
.wt-joininfotwonew.wt-joininfotwo .wt-formnewslettervtwo .form-group .wt-btntwo{position:static;width:100%;margin-top:10px;border-radius:4px}
.wt-switcharea{flex-direction:column;width:100%;min-width:auto}
.wt-switcharea .wt-switch{padding-top:30px;padding-bottom:30px}
.wt-switch label{justify-content:center}
.wt-switch label:before{top:-20px;left:auto}
.wt-switch label:after{bottom:-20px;right:auto}
.wt-joininfotwo .wt-formnewslettervtwo .wt-btn{width:100%;border-radius:4px;margin:10px 0 0;position:static}
.wt-joinnowpopup-wrap{padding-left:15px;padding-right:15px}
.wt-joinnow-form .form-group-half{width:100%}
.wt-joinnowpopup .wt-closebtn{right:15px}
.wt-registerformmain{padding:30px 10px}
.wt-bannercontentseven .wt-formbanner .wt-radioholder{top:50px}
}@media(max-width:479px){.workreap-header-v4 .wt-headeroptions .wt-userlogedin{max-width: inherit;}.wt-headernine .wt-navigationarea .wt-rightarea{width:auto}
.wt-headervfour .wt-navigationarea .wt-rightarea{width:auto}
.wt-navigationarea .wt-rightarea{width:100%}
.wt-userlogedin{max-width:210px}
.wt-loginarea{padding-left:10px}
.wt-loginarea .wt-loginbtn{margin-right:10px}
}@media(max-width:420px){.wpcf7 .wpcf7-form-control-wrap textarea,.wpcf7 label input{width: 100%;}.wpcf7 label input[type="checkbox"],.wpcf7 label input[type="radio"]{width: auto;}.wt-invoice-table > tbody > tr:first-child td{flex-wrap: wrap;flex-direction: column;}.wt-invoice-table td:before{width: 100%;padding: 0 0 5px;}.notify-wrap-start{width: 250px;right: -50%;}.wt-freelancers-silder{padding: 0 30px;}.wt-clientfeedback .wt-userlisting-breadcrumb li.wt-overallratingarea .wt-servicesrating li{padding-left: 10px;}.wt-bannercontentseven .wt-formbannervtwo .wt-formoptions .wt-dropdown,.wt-bannercontentseven .wt-formoptions .wt-dropdown{padding-right:0}
#wpcomm.wpdiscuz_auth .wc-field-submit{padding-left:0}
#wpcomm .wpd_label__check{margin:0}
#wpcomm .wpd_label__check i.wpdicon{width:30px}
#wpcomm .wc-field-submit .wc_comm_submit{padding:0 10px}
.wt-mobile-close{right:283px}
.wt-filter-scroll{width:300px}
.workreap-header-v4 .wt-postbtn.wt-btn{padding:0 5px;margin-right:10px}
.workreap-header-v4 .wt-loginarea>.wt-btn{min-width:0;padding:0 5px}
.workreap-header-v4 .wt-headerbtn{width:34px;line-height:30px}
.wt-headersearch .wt-loginformhold{width:300px;margin-right:-150px}
.wt-bannerholderthree{height:850px}
.wt-taskmodalcontent .wt-tabscontenttitle .wt-rightarea .wt-on-off{width:100%;margin:0 0 10px}
.wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn{float:left;clear:both}
.wt-formregister-step-two .wt-termsconditions .wt-checkboxholder .wt-btn+.wt-btn{margin:10px 0 0}
.header-variation-two .wt-bannerholdervtwo .wt-bannercontent .wt-bannerhead{margin-top:100px}
.wt-search-have.show-sform .wt-formbannervtwo fieldset{padding-right:20px}
.post-password-form p label input{width:100%;margin:10px 0 0}
.wt-formoptions .wt-searchbtn{position:static;border-radius:0 0 4px 4px}
.wt-formbannervtwo .wt-formoptions .wt-dropdown{padding-right:60px}
.wt-formbannervtwo .wt-formoptions .wt-searchbtn{position:absolute;border-radius:0 0 4px 0}
.wt-formoptions .wt-dropdown{padding-right:0}
.wt-radioholder{top:60px;width:100%}
.wt-formbannervtwo .wt-radioholder{top:100%}
.wt-searchbtn{width:100%;border-radius:0 0 4px 4px}
.wt-appicon li figure{width:100px}
.wt-accordiondetails{padding:30px 20px}
.wt-navarticletabvtwo li{width:100%}
.wt-articlecontent .wt-postarticlemeta li{width:100%;text-align:left;border:0}
.wt-articlecontent .wt-postarticlemeta li+li{border:0;padding-left:0;margin-top:10px}
.wt-userlistingcontent .wt-userlisting-breadcrumb li,.wt-userlisting .wt-contenthead .wt-userlisting-breadcrumb li{width:100%;padding-left:0}
.wt-userlistingcontent .wt-userlisting-breadcrumb li+li,.wt-userlisting .wt-contenthead .wt-userlisting-breadcrumb li+li{border-left:0}
.woocommerce-checkout .woocommerce .col2-set .col-1,.woocommerce-checkout.woocommerce-page .col2-set .col-1,.woocommerce-checkout .woocommerce .col2-set .col-2,.woocommerce-checkout.woocommerce-page .col2-set .col-2{padding:0}
.wt-boxed-section{padding:30px 15px}
.wt-videocontent{padding:0;width:100%;margin:20px 0 0}
.wt-bannerholdervtwo .wt-formoptions .wt-dropdown{padding:0}
.wt-bannerholdervtwo .wt-formoptions>.wt-searchbtn{position:static;width:100%;border-radius:0 0 4px 4px}
.wt-bannerholdervtwo .wt-formoptions .wt-radioholder{top:120px;width:100%}
.wt-bannercontentseven .wt-formoptions .wt-searchbtn{width:100%}
.wt-bannercontentseven .wt-formoptions .wt-searchbtn{position:static;border-radius:0 0 4px 4px}
.wt-joinnow-form .wt-checkbox-wrap h4{width:100%;text-align:left;padding-bottom:4px}
.wt-joinnow-form .wt-checkbox-wrap .wt-radio{margin-left:0}
.wt-joinnow-form .wt-checkbox-wrap .wt-radio ~ .wt-radio{margin-left:20px}
.wt-chatpopup{
	right: 10px;
	bottom: 10px;
}
.wt-chatbox{width: 300px;}
.wt-chatbox .wt-memessage{
	padding: 0;
	padding-right: 40px;
}
.wt-chatbox .wt-offerermessage{
	padding: 0;
	padding-left: 40px;
}
}@media(max-width:375px){
	.wt-header-v5 .avatar-wrap-icon, .wt-header-v5 .notify-wrap-icon {
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	body.registration-enabled .wt-headereleven.wt-header-v5{margin-bottom: -190px;}
	body.registration-enabled .wt-headereleven.wt-header-v5 .wt-userlogedin{margin: 0;}
	.wt-headervfour .wt-navigationarea{padding-bottom: 20px;}
	.wc-login .left-banner-empty .wt-joinnowpopup-wrap, .wc-register_single .left-banner-empty .wt-joinnowpopup-wrap{padding-left: 15px;padding-right: 15px; }
	.notify-wrap-icon,
	.avatar-wrap-icon{padding:0 10px;}
	.avatar-wrap-icon{padding-right: 0; padding-left: 0;}
	.wt-freelancer-footer li{width: 100%;}.wt-proposalsrcontent .wt-title{flex: 0 0 70%;}.wt-freelancer-footer li+li {border:0; border-top: 1px solid #eee; }body.registration-enabled .workreap-header-v4 .wt-navigationarea .wt-logo{width: auto; display: inline-block;} body.registration-enabled .wt-headereleven .wt-loginarea{margin-top:10px}
body.registration-enabled .wt-headereleven .wt-rightarea .wt-nav .navbar-toggler{margin-top:10px}
body.registration-enabled .workreap-header-v4 .wt-navigationarea .wt-logo{float:none;margin:20px auto 10px}
body.registration-enabled .wt-headereleven .wt-userlogedin{margin-top:10px}
body.registration-enabled .wt-headereleven.wt-header-v6 .wt-navigationarea .wt-logo{margin: 0 0 20px;}
body.registration-enabled .wt-headereleven .wt-navigationarea .wt-logo{margin:20px 0}
.wt-headereleven .wt-userlogedin .workreap-header-v4 .wt-headersearch{margin:21px 0}
.wt-headersearch .wt-loginformhold{right:auto;margin:0;left:0}
.workreap-header-v4 .wt-nav .navbar-toggler{padding:6px 7px}
.workreap-header-v4.wt-headernine .wt-heder-popup,.workreap-header-v4.wt-headernine .wt-nav{float:right}
.wt-headernine .wt-navigationarea .wt-rightarea{margin-top:0;width:100%}
.wt-headervfour .wt-loginarea>.wt-btn,.wt-headervfour .wt-loginoptionvtwo .wt-btn{min-width:80px;padding:0 10px}
.wt-headervfour .wt-headersearch{margin:0}
body.registration-enabled .wt-headervfour .wt-navigationarea .wt-logo{float:none}
.wt-headervfour .wt-nav .navbar-toggler{margin:0}
.wt-nav .navbar-toggler{margin-right:10px;margin-bottom:15px}
.tg-qrcodeimg{margin:0 0 10px}
.tg-qrcodedetail{padding:0;width:100%}
.wt-companysinfo .wt-postarticlemeta li:first-child{padding-left: 12px;}
.wt-companysinfo .wt-postarticlemeta li{border:0;float:left;width:100%}
.wt-companysinfo .wt-postarticlemeta li+li{padding-top:5px;margin-top:5px;border-top:1px solid #adadad}
.woocommerce-MyAccount-content .wt-btn{width:100%;padding:0 10px}
body.registration-enabled .wt-navigationarea .wt-logo{float:left;margin:23px 0}
body.registration-enabled .wt-search-have .wt-respsonsive-search{position:absolute;top:0;right:0}
body.registration-enabled .wt-rightarea .wt-nav .navbar-toggler{margin-top:0}
body.registration-enabled .wt-loginarea{margin:0}
body.registration-enabled .wt-userlogedin{padding-top:0}
body.registration-enabled .wt-headereleven.wt-search-have .wt-respsonsive-search{right: 15px;}
}@media(max-width:360px){.wt-userprofile figure{width:auto}
.wt-joinnowholder .wt-iconwithtext li+li{margin-left:0}
}.wt-freelancers-home>.wt-verticaltop:nth-child(n+1){margin-left:-3px!important;margin-right:-2px!important}
@media only screen and (min-width: 375px) and (max-width: 667px) {
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 24px 24px 24px 24px;
		box-shadow: 0px 0px 0px 0px;
		background-color: #111;
		z-index: 1000;
	}
	.footer_box_text {
		display: flex;
		font-family: 'Work Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color:#FFFFFF;
	}
	.duong_dan_breadcrumb {
		padding: 24px 24px 24px 24px;
	}
	.filter_listing {
		padding: 24px 24px 24px 24px;
	}
	.navbar-toggler span{
		display:none;
	}

	.contet_relate-box img{
		height:auto;
	}
	.contet_address-box{
		align-items: center;
		margin-top:10px;
	}
	.contet_container{
		padding:24px;
	}
	.contet_container-flex{
		display:block;
	}
	.contet-sub{
		font-size:10px;
	}
	.contet_discount{
		width:100%;
		padding: 0;
		margin-top: 30px;
	}
	.movie-new{
		margin-top:30px!important;
	}
	.contet_movie-box{
		margin-top:15px;
	}
	.logo-footer{
		width:100%;
	}
	.right-one{
		top:0;
		right:0;
	}
	.right-there{
		right:0;
	}
	.right-two{
		top:60px;
		right:0;
	}
	.contet_detail{
		width:100%;
	}
	.site-footer{
		padding:24px;
	}
	.contet_discount-post{
		height:auto;
	}
	.title-img img{
		width: 100%;
		height: 200px;
		margin-top: 24px;
		z-index: 2;
	}
	.title-img:after {
		content: "";
		position: absolute;
		top: 7%;
		width: 93%;
		height: 220px;
		left: 3%;
		background: #f6d9bf;
		border-radius: 8.338px;
		z-index: 1;
	}
	.title-img:before {
		content: "";
		position: absolute;
		width: 83%;
		height: 239px;
		flex-shrink: 0;
		border-radius: 8.338px;
		background: #D5A185;
		top: 6px;
		left: 28px;
		z-index: 0;
	}
	.contet_mg-16{
		margin-top:0;
	}
	.wt-nav-footer{
		display:none;
	}
	.sale-title-sub p{
		margin-top:10px;
	}
	.footer-address_phone{
		display:block;
	}
	.footer_box:nth-child(2){
		margin-top:20px;
		margin-left:0;
	}
	.site-footer{
		height:100%;
	}
	.contet-main {
		padding: 24px 24px 24px 24px;
		margin:0;
	}
	.slider-bar{
		padding: 0 24px 24px 24px;
	}
	.dots-container{
		display:none;
	}
	.contet-title {
		font-size: 22px;
	}
	.title-sale_box{
		margin-top: 30px;
	}
	.contet-title_active{
		font-size:22px;
		margin-left: 2px;
		margin-right: 2px;
	}
	.contet_decor-container{
		display:block;
	}
	.contet_decor-title{
		width:100%;
		padding-right:0;
	}
	.contet_decor-box{
		margin-top:30px;
		width:100%;
	}
	.contet_decor-box img{
		width: 100%;
		height: 366px;
	}
	.contet_decor-title p {
		font-size: 14px!important;
		font-weight: 400;
	}
	.sliderBox-img img{
		height:144px;
	}
	.main-sub{
		justify-content: center;
	}
	.main-btn{
		width:100% !important;
		font-size:8px!important;
		gap: 5px!important;
		padding:0!important;
	}
	.main-sub-time{
		display:none;
	}
	.sliderBox-img img {
		border-radius: 8px 8px 0 0;
	}
	#container .slider-bar .grid .listBox {
		display: flex;
		width: 100%;
	}
	.description-img{
		padding:4px!important;
		border-radius:0 0 8px 8px;
	}
	.contet_relate-container > .contet_menu-box{
		margin: 16px 0;
	}
	.title-box {
		padding-right: 0!important;
	}
	.listBox.sliderBox-img img {
		width: 100%;
		height: 130px;
		object-fit: cover;
		border-radius: 8px 0 0 8px;
	}
	.main-btn svg {
		width:12px;
		height:12px;
	}
	.description-title{
		display:none;
	}
	.description-sub {
		font-size: 8px!important;
		margin-bottom: 0px!important;
	}
	.listBox .description-img .main-sub{
		justify-content: inherit;
		margin-bottom :8px;
	}
	.listBox .description-img .main-sub .description-title{
		display:block;
		font-size:10px;
		margin:0;
	}
	.btn-clear-fillter{
		padding: 0px 20px;
	}
	.btn-remove-all{
		width:100%;
		margin-bottom:10px;
	}
	.filter_container{
		display:block!important;
	}
	.btn-clear-fillter {
		width:100%;
	}
	.advanced-options_container{
		margin-bottom:10px;
	}
	.contet_title-text{
		font-size:22px;
	}
	.contet_time_date{
		display: block;
	}
	.contet_image-film img{
		width:100%;
		height:auto;
	}
	.contet_description-film h1{
		font-size:18px;
	}
	.contet_description-film p{
		font-size:14px;
	}
	.contet_address-box span{
		display:flex;
		align-items:center;
	}
	.contet_address-box span h3{
		margin:0 0 0 10px;
		color:#FFFFFF;
	}
	.prevBtn-box,
	 .nextBtn-box {
		display:none;
	}
	.title-line h1{
		font-size:24px;

	}
	.title-sub h1{
		font-size:24px;

	}
	.title-img{
		width: 100%;
	}
	.title-price{
		padding:24px;
		gap:0;
	}
	.title-sale{
		padding:24px;
	}
	.title-contact{
		padding:0px 24px 24px 24px;
		display:block;
	}
	.title-desription{
		width:100%;
	}
	.title-img{
		width:100%;
	}
	.title-line p{
		font-size:14px;
	}
	.title-sub p{
		font-size:14px;
		margin-bottom: 15px;
	}

	section.header.wt-sticky {
		position: relative;
		width: 100%;
		top: 0;
	}

	.slider_bar {
		margin-top: 0;
		height: 100%;
		width: 100%;
	}

	.slides .slide img {
		object-fit: cover;
		margin-top: 0;
		height: 100%;
		width: 100%;
	}

	.prevBtn {
		left: 20px;
		border-radius: 50%;
	}

	.nextBtn {
		right: 20px;
		border-radius: 50%;
	}

	.wt-rightarea {
		float: right;
		display: flex;
		align-items: center;
	}

	.navbar-primary {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-bottom: 0;
		list-style: none;
		width: 273px;
		padding: 16px;
		background: #242424;
	}

	.sub-menu.show {
		display: block;
		text-align: center;
		background: #242424;
	}
	.wt-navigation > ul > li.menu-item-has-children:hover{
		padding: 8px 8px 8px 8px;
	}
	.wt-navigation > ul > li.menu-item-has-children {
		padding: 8px 8px 8px 8px;
	}
	.nav-toggle-subarrow {
		display: block;
		color: #999999;
		font-weight: normal;
		position: absolute;
		top: -5px;
		right: 100px;
		cursor: pointer;
		text-align: center;
		padding: 11px 20px;
		z-index: 10;
		font-size: 22px;
	}

	.nav-toggle-dropdown > .nav-toggle-subarrow .fa-angle-down:before {
		content: "\f106" !important;
	}

	.nav-toggle-dropdown > ul {
		display: block !important;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1180px){
	.title-contact{
		display:block;
	}
	.title-desription {
		width: 100%;
	}
	.title-img{
		width:100%;
	}
	.title-sub p{
		margin-bottom:30px;
	}
	.title-img img {
		width: 50%;
		height: 200px;
		z-index: 2;
		margin-left: auto;
		margin-right: auto;
		margin-top: 24px;
	}
	.wt-navigation > ul > li{
		padding:0;
	}
	.title-img:after {
		content: "";
		position: absolute;
		top: 7%;
		width: 403px;
		height: 220px;
		left: 27%;
		background: #f6d9bf;
		border-radius: 8.338px;
		z-index: 1;
	}
	.title-img:before {
		content: "";
		position: absolute;
		width: 362px;
		height: 239px;
		flex-shrink: 0;
		border-radius: 8.338px;
		background: #D5A185;
		top: 6px;
		left: 29%;
		z-index: 0;
	}
	.contet_decor-box img{
		width: 100%;
		height: 100%;
	}
	.contet_decor-title p {
		font-size: 14px!important;
		font-weight: 400;
	}
	.contet_decor-title{
		padding-right:0;
	}
	.contet_discount-post {
		display: flex;
		margin-top: 16px;
		height: 130px;
	}
}

